{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETND CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:EMS:*:NDT:*
ACTIVE:ID:HRZ:*:NDT:EMS
ACTIVE:ID:WW:*:NDT:EMS,HRZ
ACTIVE:ID:WC:*:NDT:EMS,HRZ,WW
{{ render_sectorlines(
		EDWW['ETND TWR']['000-025']
) }}

{{ ecl_dashes(runways['ETND']['26'], 12) }}
{{ marker_ticks(runways['ETND']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETND']['26'], [5], -0.5, 1) }}