{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETHB CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:WC:*:HBT:HAN,HRZ,DST,EIDW
ACTIVE:ID:EIDW:*:HBT:HAN,HRZ,DST
ACTIVE:ID:DST:*:HBT:HAN,HRZ
ACTIVE:ID:HRZ:*:HBT:HAN
ACTIVE:ID:HAN,DVAT:*:HBT:*
ACTIVE:ID:HBR,NWR:*:*:*
{{ render_sectorlines(
		EDWW['ETHB TWR']['000-025']
) }}

{{ ecl_dashes(runways['ETHB']['07'], 12) }}
{{ marker_ticks(runways['ETHB']['07'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETHB']['07'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['ETHB']['25'], 12) }}
{{ marker_ticks(runways['ETHB']['25'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETHB']['25'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETHB']['25'], -0.5, 1) }}