{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDVE CTR AUTO
LAYER:2
FOLDER:D(CTR)
COLOR:Active_Map_Type_14
ACTIVE:ID:WC:*:VET:HAN,HRZ,EMS,WW
ACTIVE:ID:WW:*:VET:HAN,HRZ,EMS
ACTIVE:ID:EMS:*:VET:HAN,HRZ
ACTIVE:ID:HRZ:*:VET:HAN
ACTIVE:ID:HAN,DVAT:*:VET:*
{{ render_sectorlines(
		EDWW['EDVE']['000-025']
) }}

{{ ecl_dashes(runways['EDVE']['08'], 10) }}
{{ marker_ticks(runways['EDVE']['08'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDVE']['08'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDVE']['26'], 10) }}
{{ marker_ticks(runways['EDVE']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDVE']['26'], [5], -0.5, 1) }}