MAP:Runway Markings
AIRPORT:ETHC
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.ethc_kml['Runway Markings'].items() %}
    {{- geom | to_poly(name, 'runway-marking') }}
{% endfor %}

{% for name, geom in data.ethc_kml['Runway Numbers'].items() %}
    {{- geom | to_poly(name, 'runway') }}
{% endfor %}