MAP:Leadin Lines
AIRPORT:EDDV
FOLDER:Airport Layout
ACTIVE:1
COLOR:leadin
STYLE:solid

//TERMINAL A
{% for stand in ['APRON 1', 'APRON 2_1', 'APRON3_1', 'APRON 4_1', 'APRON 5', 'APRON 6', 'APRON 26'] %}
    {{- data.eddv['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//TERMINAL B
{% for stand in ['APRON 7', 'APRON 8', 'APRON 9', 'APRON 10', 'APRON 11', 'APRON 12'] %}
    {{- data.eddv['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//TERMINAL C
{% for stand in ['APRON 13', 'APRON 14', 'APRON 15', 'APRON 16', 'APRON 17', 'APRON 18', 'APRON 19', 'APRON 20'] %}
    {{- data.eddv['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//OTHER
{% for stand in ['APRON 21', 'APRON 23', 'APRON 27_2', 'APRON 27_2', 'APRON 28 L1', 'APRON 41', 'APRON 42', 'APRON 45', 'APRON 46', 'APRON 47', 'APRON 48', 'APRON 49', 'APRON 50', 'APRON 51', 'APRON 52', 'APRON 53', 'APRON 53 53R', 'APRON 54', 'APRON 55', 'APRON 56', 'APRON 57', 'APRON 58', 'APRON 59', 'APRON 60', 'APRON 60 LO', 'APRON 61', 'APRON 61 F1'] %}
    {{- data.eddv['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//GA1
{% set default = 0.000005 %}
{{ data.eddv['GuidanceLineByDesig']['GA1-20'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-20_'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-21'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-22'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-23'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-24'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-31'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-32'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-33'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-41'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-42'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-43'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-44'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-45'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-46'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-47'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-48'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-51'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-52'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-53'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-54'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1-55'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_1'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_10'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_11'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_12'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_13'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_14'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_15'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_2'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_3'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_4'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_5'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_6'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_7'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_8'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['GA1_9'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['APRON 72'] | join_segments | simplify(default) | to_line('GA1') }}
{{ data.eddv['GuidanceLineByDesig']['APRON 73'] | join_segments | simplify(default) | to_line('GA1') }}

//GA2
{{ data.eddv['GuidanceLineByDesig']['GA2-O1'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O10'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O2'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O21'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O22'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O23'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O24'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O25'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O3'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O4'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O5'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O6'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O7'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O8'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-O9'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W1'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W10'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W11'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W12'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W13'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W14'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W15'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W16'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W17'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W18'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W19'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W2'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W20'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W21'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W22'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W23'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W24'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W3'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W31'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W32'] | join_segments | simplify(default) | to_line('GA2') }}

{{ data.eddv['GuidanceLineByDesig']['GA2-W33'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W34'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W35'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W4'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W5'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W51'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W52'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W6'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W7'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W8'] | join_segments | simplify(default) | to_line('GA2') }}
{{ data.eddv['GuidanceLineByDesig']['GA2-W9'] | join_segments | simplify(default) | to_line('GA2') }}


MAP:Leadin Lines Additional
AIRPORT:EDDV
FOLDER:Airport Layout
ACTIVE:1
COLOR:leadin
STYLE:solid
{% for stand in ['APRON 1A', 'APRON 2A', 'APRON 2A_1', 'APRON 2A_2', 'APRON 2A_3', 'APRON 3_2', 'APRON 3_3', 'APRON3_4', 'APRON 4_2', 'APRON3_5', 'APRON 5A', 'APRON 7A', 'APRON 10A', 'APRON 11A_1', 'APRON 14A', 'APRON 15A_1', 'APRON 17A', 'APRON 18A', 'APRON 19A', 'APRON 45R', 'APRON 46R', 'APRON 51R', 'APRON 52R', 'APRON 53A', 'APRON 55A', 'APRON 56R', 'APRON 65A', 'APRON 59A', 'APRON 61R', 'APRON 27A L1', 'APRON 27R', 'APRON 27_1', 'APRON 27 F1_1', 'APRON 27 F1_2', 'APRON 27 F1_3', 'APRON 28 F1_1', 'APRON 28 F1_2', 'APRON 28 F1_3', 'APRON 27A F1_1', 'APRON 27A F1_2', 'APRON 27A F1_3'] %}
    {{- data.eddv['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}