MAP:Holding Points CAT I
AIRPORT:EDDV
FOLDER:Holding Points
ACTIVE:1
COLOR:holdingpoint
STYLE:Solid:2
{% for _, geom in data.eddv['TaxiHoldingPositionMarking'].items() if geom.style == 'OTHER:CAT_I' %}
    {{- geom | to_poly(name, 'holdingpoint') }}
{% endfor %}
