MAP:LVP
AIRPORT:EDDV
FOLDER:LVP
ACTIVE:LVP:EDDV:1
COLOR:lvp-marking
STYLE:Solid:3
// Localizer
LINE:N052.28.00.809:E009.42.25.564:N052.27.59.773:E009.42.25.507
LINE:N052.28.07.253:E009.38.42.911:N052.28.05.619:E009.38.42.778

MAP:Holding Points CAT II/III
AIRPORT:EDDV
FOLDER:Holding Points
ACTIVE:LVP:EDDV:1
COLOR:holdingpoint
STYLE:Solid:3
{% for _, geom in data.eddv['TaxiHoldingPositionMarking'].items() if geom.style != 'OTHER:CAT_I' %}
    {{- geom | to_poly(name, 'hp') }}
{% endfor %}