MAP:Taxiway Movement Areas
AIRPORT:EDXW
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.edxw_kml['Taxiways Grass'].items() %}
    {{- geom | to_poly(name, 'grass') }}
{% endfor %}

{% for name, geom in data.edxw_kml['Taxiways'].items() %}
    {{- geom | to_poly(name, 'taxiway') }}
{% endfor %}