MAP:MRVA WARM (MAR-NOV)
FOLDER:AIRSPACE INFO
COLOR:Active_Map_Type_3
LAYER:5
STYLE:Solid:1
{{ data.mva_summer }}

MAP:MRVA COLD (NOV-MAR)
FOLDER:AIRSPACE INFO
COLOR:Active_Map_Type_3
LAYER:5
STYLE:Solid:1
{{ data.mva_winter }}