{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDHL CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:ALR:*:*:HEI,HAM
ACTIVE:ID:HEI:*:*:HAM
ACTIVE:ID:HAM,HAMW,DHAT:*:*:*
ACTIVE:ID:WW:*:*:ALR,HEI,HAM
ACTIVE:ID:WC:*:*:ALR,HEI,WW,HAM
{{ render_sectorlines(
		EDWW['EDHL']['000-025']
) }}

{{ ecl_dashes(runways['EDHL']['07'], 16) }}
{{ marker_ticks(runways['EDHL']['07'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHL']['07'], [5, 15], -0.5, 1) }}
{{ loc_tick(runways['EDHL']['07'], -0.5, 1) }}

{{ ecl_dashes(runways['EDHL']['25'], 16) }}
{{ marker_ticks(runways['EDHL']['25'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHL']['25'], [5, 15], -0.5, 1) }}
{{ loc_tick(runways['EDHL']['25'], -0.5, 1) }}