{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDHL CTR AUTO
LAYER:2
FOLDER:D(CTR)
COLOR:Active_Map_Type_14
ACTIVE:ID:ALR:*:HLT:HEI,HAME,HAMW
ACTIVE:ID:HEI:*:HLT:HAME,HAMW
ACTIVE:ID:HAME,HAMW,DHAT:*:HLT:*
ACTIVE:ID:EIDW:*:HLT:ALR,HEI,HAME,HAMW
ACTIVE:ID:WC:*:HLT:ALR,HEI,EIDW,HAME,HAMW
{{ render_sectorlines(
		EDWW['EDHL']['000-025']
) }}

{{ ecl_dashes(runways['EDHL']['07'], 16) }}
{{ marker_ticks(runways['EDHL']['07'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHL']['07'], [5, 15], -0.5, 1) }}
{{ loc_tick(runways['EDHL']['07'], -0.5, 1) }}

{{ ecl_dashes(runways['EDHL']['25'], 16) }}
{{ marker_ticks(runways['EDHL']['25'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHL']['25'], [5, 15], -0.5, 1) }}
{{ loc_tick(runways['EDHL']['25'], -0.5, 1) }}