{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDAH CTR AUTO
LAYER:2
FOLDER:D(CTR)
COLOR:Active_Map_Type_14
ACTIVE:ID:MRZ:*:AHT:*
ACTIVE:ID:MAR:*:AHT:MRZ
ACTIVE:ID:BOR:*:AHT:MRZ,MAR
ACTIVE:ID:WC:*:AHT:MRZ,MAR,BOR
{{ render_sectorlines(
		EDWW['EDAH']['000-025']
) }}

{{ ecl_dashes(runways['EDAH']['10'], 12) }}
{{ marker_ticks(runways['EDAH']['10'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDAH']['10'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDAH']['28'], 12) }}
{{ marker_ticks(runways['EDAH']['28'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDAH']['28'], [5], -0.5, 1) }}