{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
{%- set EGPX = data['sectors']['lines']['EGPX'] -%}
MAP:EDWW DBDN/DBDS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:ID:DBDN:*:DBDS:*
ACTIVE:ID:DBDS:*:DBDN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBDN']['105-165'],
) }}

MAP:EDWW DBAN/DBAS 06
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAN3']['055-105'],
) }}

MAP:EDWW DBAN/DBAS 24
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB24R:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB24R:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB24L:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB24L:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAN2']['055-105'],
) }}

MAP:EDWW DBAS 4
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDN:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDS:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDS:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAS4']['000-055'],
) }}

MAP:EDUU HVL/OSE
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW East
ACTIVE:ID:MRZ:*:BOR:HVL,OSE
ACTIVE:ID:MRZ:*:FLG:HVL,OSE
ACTIVE:ID:MRZ:*:MAR:HVL,OSE
ACTIVE:ID:MAR:*:MRZ:FLG,HVL,OSE
ACTIVE:ID:MAR:*:BOR:HVL,OSE
ACTIVE:ID:MAR:*:FLG:MRZ,HVL,OSE
ACTIVE:ID:BOR:*:MRZ:HVL,OSE
ACTIVE:ID:BOR:*:MAR:HVL,OSE
ACTIVE:ID:FLG:*:*:BOR,HVL,OSE
//EDWW West
ACTIVE:ID:ALR,EID,WW,EMS,HRZ:*:OSE,HVL:*
ACTIVE:ID:ALR,EID,WW,EMS,HRZ:*:MRZ,BOR:*
ACTIVE:ID:ALR,EID,WW,EMS,HRZ:*:MRZ,MAR:*
ACTIVE:ID:ALR,EID,WW,EMS,HRZ:*:MRZ,FLG:*
ACTIVE:ID:ALR,EID,WW,EMS,HRZ:*:MAR,BOR:*
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDUUOSE12']['285-365'],
) }}

MAP:EDYY NORTH/SOUTH LINE
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EMS:*:*:BB,SL,SH,ML,MH
ACTIVE:ID:HRZ:*:*:BB,SL,SH,ML,MH,CL,CH
ACTIVE:ID:ALR:*:*:BB,JL,JH,HH,EID
ACTIVE:ID:WW:*:EMS:BB
ACTIVE:ID:WW:*:HRZ:BB
ACTIVE:ID:WW:*:ALR:BB
ACTIVE:ID:WW:*:JL:BB
ACTIVE:ID:WW:*:JH:BB
ACTIVE:ID:WW:*:HH:BB
ACTIVE:ID:WW:*:SL:BB
ACTIVE:ID:WW:*:SH:BB
ACTIVE:ID:WW:*:CL:BB
ACTIVE:ID:WW:*:CH:BB
ACTIVE:ID:WW:*:ML:BB
ACTIVE:ID:WW:*:MH:BB
ACTIVE:ID:EID:*:*:BB,JL,JH,HH
ACTIVE:ID:WC:*:JL:BB,WW
ACTIVE:ID:WC:*:HL:BB,WW
ACTIVE:ID:WC:*:HH:BB,WW
ACTIVE:ID:WC:*:JH:BB,WW
ACTIVE:ID:WC:*:EID:BB,WW
ACTIVE:ID:WC:*:ALR:BB,WW
ACTIVE:ID:WC:*:SL:BB,WW
ACTIVE:ID:WC:*:SH:BB,WW
ACTIVE:ID:WC:*:CL:BB,WW
ACTIVE:ID:WC:*:CH:BB,WW
ACTIVE:ID:WC:*:ML:BB,WW
ACTIVE:ID:WC:*:MH:BB,WW
ACTIVE:ID:WC:*:EMS:BB,WW
ACTIVE:ID:WC:*:HRZ:BB,WW
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:JL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:JH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:ML:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:MH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:ALR:BB
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EID:BB
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EMS:BB
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HRZ:BB
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYHL2']['315-365'],
		EDWW['EDYYHL3']['315-365'],
		sector_and(EDWW['EDYYJL']['245-365'], EDGG['YYML1']['245-355']),
) }}

MAP:EDYY MNS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EID:*:RH:JL,JH,HH,BB
ACTIVE:ID:EID:*:RL:JL,JH,HH,BB
ACTIVE:ID:EID:*:PAH:JL,JH,HH,BB
ACTIVE:ID:ALR:*:RH:JL,JH,HH,EID,BB
ACTIVE:ID:ALR:*:RL:JL,JH,HH,EID,BB
ACTIVE:ID:ALR:*:MM:JL,JH,HH,EID,BB
ACTIVE:ID:ALR:*:PAH:JL,JH,HH,EID,BB
ACTIVE:ID:EMS:*:RL:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:EMS:*:RH:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:EMS:*:MM:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:EMS:*:HRZ:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:EMS:*:PAH:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:HRZ:*:*:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:WC:*:RL:BB,WW
ACTIVE:ID:WC:*:RH:BB,WW
ACTIVE:ID:WC:*:MM:BB,WW
ACTIVE:ID:WC:*:PAH:BB,WW
ACTIVE:ID:WW:*:RL:BB
ACTIVE:ID:WW:*:RH:BB
ACTIVE:ID:WW:*:MM:BB
ACTIVE:ID:WW:*:PAH:BB
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL,CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH,CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL,CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH,CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EMS,HRZ:SL,SH,CL,CH,ML,MH,BB
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDGG['YYML1']['245-355'],
		EDGG['YYML4']['245-315'],
) }}

MAP:EDYY SOL
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL,CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH,CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL,CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH,CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EMS,HRZ:SL,SH,CL,CH,ML,MH,BB
//EDWW West
ACTIVE:ID:EMS:*:HRZ:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:HRZ:*:EMS:SL,SH,CL,CH,ML,MH,BB
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYSL1']['245-355'],
) }}

MAP:EDYY HOL
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EID:*:HL:BB,JL,HH,JH,BB
ACTIVE:ID:ALR:*:HL:BB,JL,HH,JH,EID,BB
ACTIVE:ID:WW:*:HL:BB,JL,HH,JH,EID,ALR,BB
ACTIVE:ID:WC:*:HL:BB,JL,HH,JH,EID,WW,ALR,BB
ACTIVE:ID:EMS:*:HL:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:HRZ:*:HL:SL,SH,CL,CH,ML,MH,BB,EMS
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYHL1']['245-365'],
		EDWW['EDYYHL2']['315-365'],
		EDWW['EDYYHL3']['315-365'],
) }}