{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
{%- set EGPX = data['sectors']['lines']['EGPX'] -%}
MAP:EDWW DBDN/DBDS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:ID:DBDN:*:DBDS:*
ACTIVE:ID:DBDS:*:DBDN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBDN']['105-165'],
) }}

MAP:EDWW DBAN/DBAS 06
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAN3']['055-105'],
) }}

MAP:EDWW DBAN/DBAS 24
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB24R:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB24R:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB24L:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB24L:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAN2']['055-105'],
) }}

MAP:EDWW DBAS 4
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDN:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDS:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDS:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAS4']['000-055'],
) }}

MAP:EDUU HVL/OSE
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW East
ACTIVE:ID:MRZ:*:BOR:HVL,OSE
ACTIVE:ID:MRZ:*:FLG:HVL,OSE
ACTIVE:ID:MRZ:*:MAR:HVL,OSE
ACTIVE:ID:MAR:*:MRZ:FLG,HVL,OSE
ACTIVE:ID:MAR:*:BOR:HVL,OSE
ACTIVE:ID:MAR:*:FLG:MRZ,HVL,OSE
ACTIVE:ID:BOR:*:MRZ:HVL,OSE
ACTIVE:ID:BOR:*:MAR:HVL,OSE
ACTIVE:ID:FLG:*:*:BOR,HVL,OSE
//EDWW West
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:OSE,HVL:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MRZ,BOR:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MRZ,MAR:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MRZ,FLG:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MAR,BOR:*
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDUUOSE12']['285-365'],
) }}

MAP:EDYY NORTH/SOUTH LINE
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:DST:*:*:BB,SL,SH,ML,MH
ACTIVE:ID:ALR:*:*:BB,JL,JH,HH,EIDE
ACTIVE:ID:EIDW:*:DST:BB
ACTIVE:ID:EIDW:*:ALR:BB
ACTIVE:ID:EIDW:*:JL:BB
ACTIVE:ID:EIDW:*:JH:BB
ACTIVE:ID:EIDW:*:HH:BB
ACTIVE:ID:EIDW:*:SL:BB
ACTIVE:ID:EIDW:*:SH:BB
ACTIVE:ID:EIDW:*:CL:BB
ACTIVE:ID:EIDW:*:CH:BB
ACTIVE:ID:EIDW:*:ML:BB
ACTIVE:ID:EIDW:*:MH:BB
ACTIVE:ID:EIDE:*:*:BB,JL,JH,HH
ACTIVE:ID:WC:*:JL:BB,EIDW
ACTIVE:ID:WC:*:HL:BB,EIDW
ACTIVE:ID:WC:*:HH:BB,EIDW
ACTIVE:ID:WC:*:JH:BB,EIDW
ACTIVE:ID:WC:*:EIDE:BB,EIDW
ACTIVE:ID:WC:*:ALR:BB,EIDW
ACTIVE:ID:WC:*:SL:BB,EIDW
ACTIVE:ID:WC:*:SH:BB,EIDW
ACTIVE:ID:WC:*:CL:BB,EIDW
ACTIVE:ID:WC:*:CH:BB,EIDW
ACTIVE:ID:WC:*:ML:BB,EIDW
ACTIVE:ID:WC:*:MH:BB,EIDW
ACTIVE:ID:WC:*:DST:BB,EIDW
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EIDW,DST:BB
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:JL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:JH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:ML:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:MH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:ALR:BB
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EIDE:BB
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:DST:BB
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYHL2']['315-365'],
		EDWW['EDYYHL3']['315-365'],
		sector_and(EDWW['EDYYJL']['245-365'], EDGG['YYML1']['245-355']),
) }}

MAP:EDYY MNS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EMS:*:*:CL,CH,SL,SH,ML,MH,RL,RH,PAH
ACTIVE:ID:EIDE:*:RH:JL,JH,HH,BB
ACTIVE:ID:EIDE:*:RL:JL,JH,HH,BB
ACTIVE:ID:EIDE:*:PAH:JL,JH,HH,BB
ACTIVE:ID:ALR:*:RH:JL,JH,HH,EIDE,BB
ACTIVE:ID:ALR:*:RL:JL,JH,HH,EIDE,BB
ACTIVE:ID:ALR:*:PAH:JL,JH,HH,EIDE,BB
ACTIVE:ID:ALR:*:EMS:JL,JH,HH,EIDE,BB,PAH
ACTIVE:ID:DST:*:RL:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:DST:*:RH:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:DST:*:PAH:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:DST:*:EMS:SL,SH,CL,CH,ML,MH,BB
ACTIVE:ID:WC:*:RL:BB,EIDW
ACTIVE:ID:WC:*:RH:BB,EIDW
ACTIVE:ID:WC:*:PAH:BB,EIDW
ACTIVE:ID:WC:*:EMS:BB,EIDW
ACTIVE:ID:EIDW:*:RL:BB
ACTIVE:ID:EIDW:*:RH:BB
ACTIVE:ID:EIDW:*:PAH:BB
ACTIVE:ID:EIDW:*:EMS:BB
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDGG['YYML1']['245-355'],
		EDGG['YYML4']['245-315'],
) }}

MAP:EDYY SOL
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL,CL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH,CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SL,CH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SH,CL:*
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYSO']['245-355'],
) }}

MAP:EDYY HOL
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EIDE:*:HL:BB,JL,HH,JH,BB
ACTIVE:ID:ALR:*:HL:BB,JL,HH,JH,EIDE,BB
ACTIVE:ID:EIDW:*:HL:BB,JL,HH,JH,EIDE,ALR,BB
ACTIVE:ID:WC:*:HL:BB,JL,HH,JH,EIDE,EIDW,ALR,BB
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYHL1']['245-365'],
		EDWW['EDYYHL2']['315-365'],
		EDWW['EDYYHL3']['315-365'],
) }}