{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
{%- set EGPX = data['sectors']['lines']['EGPX'] -%}
MAP:EDWW DBDN/DBDS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:ID:DBDN:*:DBDS:*
ACTIVE:ID:DBDS:*:DBDN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBDN']['105-165'],
) }}

MAP:EDWW DBAN/DBAS 06
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAN3']['055-105'],
) }}

MAP:EDWW DBAN/DBAS 24
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB24R:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB24R:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ACTIVE:RWY:ARR:EDDB24L:DEP:*
AND_ACTIVE:ID:DBAN:*:DBAS:*
ACTIVE:RWY:ARR:EDDB24L:DEP:*
AND_ACTIVE:ID:DBAS:*:DBAN:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAN2']['055-105'],
) }}

MAP:EDWW DBAS 4
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDN:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDN:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDS:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBAN,DBAS:*:DBDS:*
ACTIVE:RWY:ARR:EDDB06L:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ACTIVE:RWY:ARR:EDDB06R:DEP:*
AND_ACTIVE:ID:DBDN,DBDS:*:*:*
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWDBAS4']['000-055'],
) }}

MAP:EDUU HVL/OSE
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW East
ACTIVE:ID:MRZ:*:BOR:HVL,OSE
ACTIVE:ID:MRZ:*:FLG:HVL,OSE
ACTIVE:ID:MRZ:*:MAR:HVL,OSE
ACTIVE:ID:MAR:*:MRZ:FLG,HVL,OSE
ACTIVE:ID:MAR:*:BOR:HVL,OSE
ACTIVE:ID:MAR:*:FLG:MRZ,HVL,OSE
ACTIVE:ID:BOR:*:MRZ:HVL,OSE
ACTIVE:ID:BOR:*:MAR:HVL,OSE
ACTIVE:ID:FLG:*:*:BOR,HVL,OSE
//EDWW West
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:OSE,HVL:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MRZ,BOR:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MRZ,MAR:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MRZ,FLG:*
ACTIVE:ID:ALR,EIDE,EIDW,DST:*:MAR,BOR:*
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDUUOSE12']['285-365'],
) }}

MAP:EDYY NORTH/SOUTH LINE
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:DST:*:*:CEL,SOL
ACTIVE:ID:ALR:*:*:CEL,JL,HL,JH,HH,EIDE
ACTIVE:ID:EIDW:*:DST:CEL
ACTIVE:ID:EIDW:*:ALR:CEL
ACTIVE:ID:EIDW:*:JL:CEL
ACTIVE:ID:EIDE:*:*:CEL,JL,HL,JH,HH
ACTIVE:ID:WC:*:JL:CEL,EIDW
ACTIVE:ID:WC:*:HL:CEL,EIDW
ACTIVE:ID:WC:*:HH:CEL,EIDW
ACTIVE:ID:WC:*:JH:CEL,EIDW
ACTIVE:ID:WC:*:EIDE:CEL,EIDW
ACTIVE:ID:WC:*:ALR:CEL,EIDW
ACTIVE:ID:WC:*:SOL:CEL,EIDW
ACTIVE:ID:WC:*:DST:CEL,EIDW
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EIDW,DST:CEL
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:JL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HL:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:HH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:JH:*
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:ALR:CEL
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SOL:CEL
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:EIDE:CEL
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:ALR:CEL
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:DST:CEL
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYHL2']['315-365'],
		EDWW['EDYYHL3']['315-365'],
		sector_and(EDWW['EDYYJL']['245-365'], EDGG['YYML1']['245-355']),
) }}

MAP:EDYY MUN
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EMS:*:*:CEL,SOL,MUN,RHR,PAH,HMMH,GC
ACTIVE:ID:ALR:*:MUN:JL,CEL
ACTIVE:ID:DST:*:MUN:SOL,CEL
ACTIVE:ID:ALR:*:RHR:JL,CEL
ACTIVE:ID:DST:*:RHR:SOL,CEL
ACTIVE:ID:ALR:*:PAH:JL,CEL
ACTIVE:ID:DST:*:PAH:SOL,CEL
ACTIVE:ID:ALR:*:EMS:JL,CEL
ACTIVE:ID:DST:*:EMS:SOL,CEL
ACTIVE:ID:WC:*:MUN:CEL
ACTIVE:ID:WC:*:MUN:EIDW
ACTIVE:ID:EIDW:*:MUN:*
ACTIVE:ID:EIDW:*:RHR:*
ACTIVE:ID:EIDW:*:PAH:*
ACTIVE:ID:EIDW:*:EMS:*
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDGG['YYML1']['245-355'],
		EDGG['YYML4']['245-315'],
) }}

MAP:EDYY SOL
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW East
ACTIVE:ID:BOR,MRZ,MAR,FLG:*:SOL,CEL:*
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYSO']['245-355'],
) }}

MAP:EDYY HL
FOLDER:SECTORS
COLOR:Active_Map_Type_2
//EDWW West
ACTIVE:ID:EIDE:*:HL:CEL,JL,HH,JH
ACTIVE:ID:ALR:*:HL:CEL,JL,HH,JH,EIDE
ACTIVE:ID:WC:*:HL:CEL,JL,HH,JH,EIDE,EIDW,ALR
ACTIVE:ID:EIDE:*:JL:CEL,HL,HH,JH
ACTIVE:ID:ALR:*:JL:CEL,HL,HH,JH,EIDE
ACTIVE:ID:WC:*:JL:CEL,HL,HH,JH,EIDE,EIDW,ALR
LAYER:2
STYLE:Dot
{{ render_sectorlines(
		EDWW['EDYYHL1']['245-365'],
		EDWW['EDYYHL2']['315-365'],
		EDWW['EDYYHL3']['315-365'],
) }}