MAP:Holding Points
AIRPORT:EDHI
FOLDER:Holding Points
ACTIVE:1
COLOR:holdingpoint
STYLE:Solid:2
{% for _, geom in data.edhi['TaxiHoldingPositionMarking'].items() %}
    {{- geom | geoms | to_line('hp') }}
{% endfor %}

MAP:Checkpoints
AIRPORT:EDHI
FOLDER:Holding Points
ACTIVE:1
COLOR:holdingpoint
LINE:N053.32.11.853:E009.49.32.311:N053.32.14.071:E009.49.33.171
LINE:N053.32.24.844:E009.49.08.849:N053.32.25.324:E009.49.05.247
