{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDDB CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:FLG:*:*:DBAS,DBAN
ACTIVE:ID:DBAS,DBAN,DBANT,DBDN,DBDS,DBAST:*:*:*
ACTIVE:ID:MRZ:*:*:DBAS,DBAN,FLG,BOR,MAR
ACTIVE:ID:MAR:*:*:DBAS,DBAN,BOR,FLG
ACTIVE:ID:BOR:*:*:DBAS,DBAN,FLG
ACTIVE:ID:WC:*:*:BOR,FLG,MRZ,MAR,DBAS,DBAN
{{ render_sectorlines(
		sector_sub(EDWW['EDDBTWRN']['000-025'], EDWW['EDDBTWRS']['000-025']),
		sector_sub(EDWW['EDDBTWRS']['000-025'], EDWW['EDDBTWRN']['000-025']),
) }}

