/------------------------- SID Procedures ----------------------

// Any change shall be transfered to topsky-phoenix/100-EDDB/05-sids.jinja
MAP:EDDB SIDs 06
FOLDER:Procs
COLOR:Active_Map_Type_1
LAYER:3
STYLE:Dot
/--------------------- 06R ------------------------
/------------------- Q-SID'S ----------------------
/------------------- ARSAP3Q ----------------------
COORD:EDDB/24L
COORD_DF:064.5M:R:150KTS:10:DB062
COORD:ARGUX
COORD:IDOBA
COORD:ARSAP
COORDLINE

/------------------- GERGA3Q ----------------------
COORD:EDDB/24L
COORD_DF:064.5M:R:150KTS:10:DB062
COORD:ARGUX
COORD:IDOBA
COORD:DB265
COORD:GERGA
COORDLINE

/------------------- LUROS3Q ----------------------
COORD:EDDB/24L
COORD_DF:064.5M:R:150KTS:10:DB062
COORD:ARGUX
COORD:IDOBA
COORD:LUROS
COORDLINE

/------------------- KISUC1Q ----------------------
COORD:EDDB/24L
COORD_DF:064.5M:R:140KTS:10:DB061
COORD:MOVOM
COORD:POBAM
COORD:LULUL
COORD:ESIKA
COORD:KISUC
COORDLINE

/------------------- SUKIP3Q ----------------------
COORD:EDDB/24L
COORD_DF:064.5M:R:150KTS:10:DB061
COORD:MOVOM
COORD:POBAM
COORD:LULUL
COORD:ESIKA
COORD:SUKIP
COORDLINE

/------------------- Z-SID's ----------------------
/------------------- ARSAP3Z ----------------------
COORD:EDDB/24L
COORD:DB059
COORD:IDOBA
COORD:ARSAP
COORDLINE

/------------------- GERGA3Z ----------------------
COORD:EDDB/24L
COORD:DB059
COORD:IDOBA
COORD:DB265
COORD:GERGA
COORDLINE

/------------------- LUROS3Z ----------------------
COORD:EDDB/24L
COORD:DB059
COORD:IDOBA
COORD:LUROS
COORDLINE

/------------------- KISUC1Z ----------------------
COORD:EDDB/24L
COORD:DB063
COORD_DF:079M:R:220KTS:10:DB064
COORD:GAGVI
COORD:IBIKI
COORD:LULUL
COORD:ESIKA
COORD:KISUC
COORDLINE

/------------------- SUKIP4Z ----------------------
COORD:EDDB/24L
COORD:DB063
COORD_DF:079M:R:220KTS:10:DB064
COORD:GAGVI
COORD:IBIKI
COORD:LULUL
COORD:ESIKA
COORD:SUKIP
COORDLINE

/--------------------- 06L ------------------------
/------------------- B-SID'S ----------------------
/------------------- ARSAP4B ----------------------
COORD:EDDB/24R
COORD:DB068
COORD:DB069
COORD:DB070
COORD:ARSAP
COORDLINE

/------------------- GERGA4B ----------------------
COORD:EDDB/24R
COORD:DB068
COORD:DB071
COORD:GERGA
COORDLINE

/------------------- LUROS4B ----------------------
COORD:EDDB/24R
COORD:DB068
COORD:DB069
COORD:DB072
COORD:ARSAP
COORDLINE

/------------------- KISUC1B ----------------------
COORD:EDDB/24R
COORD:DB058
COORD:DB065
COORD:BIKPO
COORD:KUBUM
COORD:SUKIP
COORD:KISUC
COORDLINE

/------------------- SUKIP4B ----------------------
COORD:EDDB/24R
COORD:DB058
COORD:DB065
COORD:BIKPO
COORD:KUBUM
COORD:SUKIP
COORDLINE

/------------------- K-SID's ----------------------
/------------------- KISUC1K ----------------------
COORD:EDDB/24R
COORD:DB066
COORD:DB067
COORD:BIKPO
COORD:KUBUM
COORD:SUKIP
COORD:KISUC
COORDLINE

/------------------- SUKIP4K ----------------------
COORD:EDDB/24R
COORD:DB066
COORD:DB067
COORD:BIKPO
COORD:KUBUM
COORD:SUKIP
COORDLINE


MAP:EDDB SIDs 24
FOLDER:Procs
COLOR:Active_Map_Type_1
LAYER:3
STYLE:Dot
/--------------------- 24L ------------------------
/------------------- N-SID'S ----------------------
/------------------- ARSAP4N ----------------------
COORD:EDDB/06R
COORD:DB261
COORD_DF:228.7:L:220KTS:10:DB262
COORD:IDOBA
COORD:ARSAP
COORDLINE

/------------------- GERGA4N ----------------------
COORD:EDDB/06R
COORD:DB261
COORD_DF:228.7:L:220KTS:10:DB262
COORD:DB264
COORD:GERGA
COORDLINE

/------------------- LUROS4N ----------------------
COORD:EDDB/06R
COORD:DB261
COORD_DF:228.7:L:220KTS:10:DB262
COORD:IDOBA
COORD:LUROS
COORDLINE

/------------------- KISUC1N ----------------------
COORD:EDDB/06R
COORD_DF:244.5M:L:185KTS:10:DB260
COORD:DB263
COORD:LULUL
COORD:ESIKA
COORD:KISUC
COORDLINE

/------------------- SUKIP4N ----------------------
COORD:EDDB/06R
COORD_DF:244.5M:L:185KTS:10:DB260
COORD:DB263
COORD:LULUL
COORD:ESIKA
COORD:SUKIP
COORDLINE

/--------------------- 24R ------------------------
/------------------- A-SID'S ----------------------
/------------------- ARSAP3A ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB241 
COORD_DF:264.2:R:230KTS:10:DB242
COORD:DB243
COORD_DF:010.7:R:250KTS:10:DB244
COORD:PINOB
COORD:ARSAP
COORDLINE

/------------------- BIKPO1A ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB241 
COORD_DF:264.2:R:230KTS:10:DB242
COORD:DB243
COORD_DF:010.7:R:250KTS:10:DB244
COORD:BIKPO
COORDLINE

/------------------- LUROS3A ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB241 
COORD_DF:264.2:R:230KTS:10:DB242
COORD:DB243
COORD_DF:010.7:R:250KTS:10:DB244
COORD:PINOB
COORD:JACOW
COORD:DB249
COORD:ARSAP
COORDLINE

/------------------- KISUC1A ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB247
COORD:VAVIV
COORD:IBGAL
COORD:SUKIP
COORD:KISUC
COORDLINE

/------------------- SUKIP3A ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB247
COORD:VAVIV
COORD:IBGAL
COORD:SUKIP
COORDLINE

/------------------- M-SID'S ----------------------
/------------------- ARSAP3M ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB247
COORD:VAVIV
COORD:IBGAL
COORD:BAKPA
COORD:ERDUX
COORD:DB244
COORD:PINOB
COORD:ARSAP
COORDLINE

/------------------- BIKPO1M ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB247
COORD:VAVIV
COORD:IBGAL
COORD:BAKPA
COORD:ERDUX
COORD:DB244
COORD:BIKPO
COORDLINE

/------------------- LUROS3M ----------------------
COORD:EDDB/06L
COORD:DB240
COORD:DB247
COORD:VAVIV
COORD:IBGAL
COORD:BAKPA
COORD:ERDUX
COORD:DB244
COORD:PINOB
COORD:JACOW
COORD:DB249
COORD:LUROS
COORDLINE

MAP:EDDB SID Fixes 06
FOLDER:Procs
COLOR:Active_Map_Type_1
LAYER:3
STYLE:Dot

/--------------------- 06R ------------------------
/------------------- Q-SID'S ----------------------
/------------------- ARSAP3Q ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/24L:A600:5:0
SYMBOL:FIX TRANS:DB062:DB062:5:0
SYMBOL:FIX TRANS:ARGUX:ARGUX:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- GERGA3Q ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/24L:A600:5:0
SYMBOL:FIX TRANS:DB062:DB062:5:0
SYMBOL:FIX TRANS:ARGUX:ARGUX:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS:DB265:DB265:5:0
SYMBOL:FIX TRANS BIG:GERGA:GERGA:5:0

/------------------- LUROS3Q ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/24L:A600:5:0
SYMBOL:FIX TRANS:DB062:DB062:5:0
SYMBOL:FIX TRANS:ARGUX:ARGUX:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS BIG:LUROS:LUROS:5:0

/------------------- KISUC1Q ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/24L:A600:5:0
SYMBOL:FIX TRANS:DB061:DB061:5:0
SYMBOL:FIX TRANS:MOVOM:MOVOM:5:0
SYMBOL:FIX TRANS:POBAM:POBAM:5:0
SYMBOL:FIX TRANS:LULUL:LULUL:5:0
SYMBOL:FIX TRANS:ESIKA:ESIKA:5:0
SYMBOL:FIX TRANS BIG:KISUC:KISUC:5:0

/------------------- SUKIP3Q ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/24L:A600:5:0
SYMBOL:FIX TRANS:DB061:DB061:5:0
SYMBOL:FIX TRANS:MOVOM:MOVOM:5:0
SYMBOL:FIX TRANS:POBAM:POBAM:5:0
SYMBOL:FIX TRANS:LULUL:LULUL:5:0
SYMBOL:FIX TRANS:ESIKA:ESIKA:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0

/------------------- Z-SID's ----------------------
/------------------- ARSAP3Z ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB059:DB059:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- GERGA3Z ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB059:DB059:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS:DB265:DB265:5:0
SYMBOL:FIX TRANS BIG:GERGA:GERGA:5:0

/------------------- LUROS3Z ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB059:DB059:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS BIG:LUROS:LUROS:5:0

/------------------- KISUC1Z ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB063:DB063:5:0
SYMBOL:FIX TRANS:DB064:DB064:5:0
SYMBOL:FIX TRANS:GAGVI:GAGVI:5:0
SYMBOL:FIX TRANS:IBIKI:IBIKI:5:0
SYMBOL:FIX TRANS:LULUL:LULUL:5:0
SYMBOL:FIX TRANS:ESIKA:ESIKA:5:0
SYMBOL:FIX TRANS BIG:KISUC:KISUC:5:0

/------------------- SUKIP4Z ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB063:DB063:5:0
SYMBOL:FIX TRANS:DB064:DB064:5:0
SYMBOL:FIX TRANS:GAGVI:GAGVI:5:0
SYMBOL:FIX TRANS:IBIKI:IBIKI:5:0
SYMBOL:FIX TRANS:LULUL:LULUL:5:0
SYMBOL:FIX TRANS:ESIKA:ESIKA:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0

/--------------------- 06L ------------------------
/------------------- B-SID'S ----------------------
/------------------- ARSAP4B ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB068:DB068:5:0
SYMBOL:FIX TRANS:DB069:DB069:5:0
SYMBOL:FIX TRANS:DB070:DB070:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- GERGA4B ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB068:DB068:5:0
SYMBOL:FIX TRANS:DB071:DB071:5:0
SYMBOL:FIX TRANS BIG:GERGA:GERGA:5:0

/------------------- LUROS4B ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB068:DB068:5:0
SYMBOL:FIX TRANS:DB069:DB069:5:0
SYMBOL:FIX TRANS:DB072:DB072:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- KISUC1B ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB058:DB058:5:0
SYMBOL:FIX TRANS:DB065:DB065:5:0
SYMBOL:FIX TRANS:BIKPO:BIKPO:5:0
SYMBOL:FIX TRANS:KUBUM:KUBUM:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0
SYMBOL:FIX TRANS BIG:KISUC:KISUC:5:0

/------------------- SUKIP4B ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB058:DB058:5:0
SYMBOL:FIX TRANS:DB065:DB065:5:0
SYMBOL:FIX TRANS:BIKPO:BIKPO:5:0
SYMBOL:FIX TRANS:KUBUM:KUBUM:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0

/------------------- K-SID's ----------------------
/------------------- KISUC1K ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB066:DB066:5:0
SYMBOL:FIX TRANS:DB067:DB067:5:0
SYMBOL:FIX TRANS:BIKPO:BIKPO:5:0
SYMBOL:FIX TRANS:KUBUM:KUBUM:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0
SYMBOL:FIX TRANS BIG:KISUC:KISUC:5:0

/------------------- SUKIP4K ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB066:DB066:5:0
SYMBOL:FIX TRANS:DB067:DB067:5:0
SYMBOL:FIX TRANS:BIKPO:BIKPO:5:0
SYMBOL:FIX TRANS:KUBUM:KUBUM:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:


MAP:EDDB SID Fixes 24
FOLDER:Procs
COLOR:Active_Map_Type_1
LAYER:3
STYLE:Dot

/--------------------- 24L ------------------------
/------------------- N-SID'S ----------------------
/------------------- ARSAP4N ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/06R:A600:5:0
SYMBOL:FIX TRANS:DB261:DB261:5:0
SYMBOL:FIX TRANS:DB262:DB262:5:0
SYMBOL:FIX TRANS:DB264:DB264:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- GERGA4N ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/06R:A600:5:0
SYMBOL:FIX TRANS:DB261:DB261:5:0
SYMBOL:FIX TRANS:DB262:DB262:5:0
SYMBOL:FIX TRANS:DB264:DB264:5:0
SYMBOL:FIX TRANS:DB265:DB265:5:0
SYMBOL:FIX TRANS BIG:GERGA:GERGA:5:0

/------------------- LUROS4N ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/06R:A600:5:0
SYMBOL:FIX TRANS:DB261:DB261:5:0
SYMBOL:FIX TRANS:DB262:DB262:5:0
SYMBOL:FIX TRANS:IDOBA:IDOBA:5:0
SYMBOL:FIX TRANS BIG:LUROS:LUROS:5:0

/------------------- KISUC1N ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/06R:A600:5:0
SYMBOL:FIX TRANS:DB260:DB260:5:0
SYMBOL:FIX TRANS:DB263:DB263:5:0
SYMBOL:FIX TRANS:LULUL:LULUL:5:0
SYMBOL:FIX TRANS:ESIKA:ESIKA:5:0
SYMBOL:FIX TRANS BIG:KISUC:KISUC:5:0

/------------------- SUKIP4N ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:EDDB/06R:A600:5:0
SYMBOL:FIX TRANS:DB260:DB260:5:0
SYMBOL:FIX TRANS:DB263:DB263:5:0
SYMBOL:FIX TRANS:LULUL:LULUL:5:0
SYMBOL:FIX TRANS:ESIKA:ESIKA:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0


/--------------------- 24R ------------------------
/------------------- A-SID'S ----------------------
/------------------- ARSAP3A ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB241:DB241:5:0
SYMBOL:FIX TRANS:DB242:DB242:5:0
SYMBOL:FIX TRANS:DB243:DB243:5:0
SYMBOL:FIX TRANS:DB244:DB244:5:0
SYMBOL:FIX TRANS:PINOB:PINOB:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- BIKPO1A ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB241:DB241:5:0
SYMBOL:FIX TRANS:DB242:DB242:5:0
SYMBOL:FIX TRANS:DB243:DB243:5:0
SYMBOL:FIX TRANS:DB244:DB244:5:0
SYMBOL:FIX TRANS BIG:BIKPO:BIKPO:5:0

/------------------- LUROS3A ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB241:DB241:5:0
SYMBOL:FIX TRANS:DB242:DB242:5:0
SYMBOL:FIX TRANS:DB243:DB243:5:0
SYMBOL:FIX TRANS:DB244:DB244:5:0
SYMBOL:FIX TRANS:PINOB:PINOB:5:0
SYMBOL:FIX TRANS:JACOW:JACOW:5:0
SYMBOL:FIX TRANS:DB249:DB249:5:0
SYMBOL:FIX TRANS BIG:LUROS:LUROS:5:0

/------------------- KISUC1A ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB247:DB247:5:0
SYMBOL:FIX TRANS:VAVIV:VAVIV:5:0
SYMBOL:FIX TRANS:IBGAL:IBGAL:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0
SYMBOL:FIX TRANS BIG:KISUC:KISUC:5:0

/------------------- SUKIP3A ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB247:DB247:5:0
SYMBOL:FIX TRANS:VAVIV:VAVIV:5:0
SYMBOL:FIX TRANS:IBGAL:IBGAL:5:0
SYMBOL:FIX TRANS BIG:SUKIP:SUKIP:5:0

/------------------- M-SID's ----------------------
/------------------- ARSAP3M ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB247:DB247:5:0
SYMBOL:FIX TRANS:VAVIV:VAVIV:5:0
SYMBOL:FIX TRANS:IBGAL:IBGAL:5:0
SYMBOL:FIX TRANS:BAKPA:BAKPA:5:0
SYMBOL:FIX TRANS:ERDUX:ERDUX:5:0
SYMBOL:FIX TRANS:DB244:DB244:5:0
SYMBOL:FIX TRANS:PINOB:PINOB:5:0
SYMBOL:FIX TRANS BIG:ARSAP:ARSAP:5:0

/------------------- LUROS3M ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB247:DB247:5:0
SYMBOL:FIX TRANS:VAVIV:VAVIV:5:0
SYMBOL:FIX TRANS:IBGAL:IBGAL:5:0
SYMBOL:FIX TRANS:BAKPA:BAKPA:5:0
SYMBOL:FIX TRANS:ERDUX:ERDUX:5:0
SYMBOL:FIX TRANS:DB244:DB244:5:0
SYMBOL:FIX TRANS:PINOB:PINOB:5:0
SYMBOL:FIX TRANS:JACOW:JACOW:5:0
SYMBOL:FIX TRANS:DB249:DB249:5:0
SYMBOL:FIX TRANS BIG:LUROS:LUROS:5:0

/------------------- BIKPO1M ----------------------
TEXTALIGN:LT
SYMBOL:FIX TRANS:DB240:DB240:5:0
SYMBOL:FIX TRANS:DB247:DB247:5:0
SYMBOL:FIX TRANS:VAVIV:VAVIV:5:0
SYMBOL:FIX TRANS:IBGAL:IBGAL:5:0
SYMBOL:FIX TRANS:BAKPA:BAKPA:5:0
SYMBOL:FIX TRANS:ERDUX:ERDUX:5:0
SYMBOL:FIX TRANS:DB244:DB244:5:0
SYMBOL:FIX TRANS BIG:BIKPO:BIKPO:5:0
