MAP:Taxiway Designators
AIRPORT:ETMN
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10

{% for name, geom in data.etmn_kml['Taxiwaylabels'].items() %}
    {{- geom | to_text_buffer(name, 'taxiway', True) }}
{% endfor %}

COLOR:labels-twy
{% for name, geom in data.etmn_kml['Taxiwaylabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}