{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
MAP:LOWER SECTORS
FOLDER:GENERAL
COLOR:Active_Map_Type_4
LAYER:-1
ACTIVE:1
{{ render_sectorlines(
		EDWW['EDWWEIDE']['000-245'],
		EDWW['EDWWEIDW']['000-245'],
		EDWW['EDWWFRI1']['000-245'],
		sector_sub(EDWW['EDWWALR1']['105-245'], EDWW['EDWWALR2']['195-245']),
		sector_sub(EDWW['EDWWALR2']['195-245'], EDWW['EDWWALR1']['105-245']),
		sector_sub(EDWW['EDWWHEI1']['105-245'], EDWW['EDWWHEI2']['195-245']),
		sector_sub(EDWW['EDWWHEI2']['195-245'], EDWW['EDWWHEI1']['105-245']),
		sector_sub(EDWW['EDWWHRZ1']['105-245'], EDWW['EDWWHRZ4']['000-245']),
		sector_sub(EDWW['EDWWHRZ4']['000-245'], EDWW['EDWWHRZ1']['105-245']),
		sector_and(EDWW['EDWWHRZ3']['055-245'], EDWW['EDWWBOR1']['000-285']),
		sector_sub(EDWW['EDWWDST2']['105-245'], EDWW['EDWWDST3']['155-245']),
		sector_sub(EDWW['EDWWDST3']['155-245'], EDWW['EDWWDST2']['105-245']),
		sector_and(EDWW['EDWWEMS1']['000-245'], EHAA['EHMC TMA C']['015-245']),
		sector_and(EDWW['EDWWEMS1']['000-245'], EHAA['TEBRO AREA']['205-245']),
		sector_and(EDWW['EDWWEMS1']['000-245'], EDGG['HMM1']['000-245']),
		sector_and(EDWW['EDWWEMS2']['105-245'], EDGG['HMM1']['000-245']),
		sector_and(EDWW['EDWWEMS4']['065-245'], EDGG['HMM1']['000-245']),
		sector_and(EDWW['EDWWMRZ1']['000-285'], EDWW['EDWWMAR1']['000-285']),
		sector_and(EDWW['EDWWMRZ2']['000-245'], EDWW['EDWWMAR4']['105-245']),
		sector_and(EDWW['EDWWMAR1']['000-285'], EDWW['EDWWBOR1']['000-285']),
		sector_and(EDWW['EDWWMAR1']['000-285'], EDWW['EDWWBOR3']['165-285']),
		sector_and(EDWW['EDWWMAR2']['135-285'], EDWW['EDWWBOR3']['165-285']),
		sector_and(EDWW['EDWWMAR2']['135-285'], EDWW['EDWWFLG1']['165-285']),
		EDMM['EDMMHAL']['195-245'],
		EDMM['EDMMHAL']['285-315'],
) }}