MAP:Runway Markings
AIRPORT:ETNS
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.etns_kml['Runway Markings'].items() %}
    {{- geom | to_poly(name, 'runway-marking') }}
{% endfor %}

{% for name, geom in data.etns_kml['Runway Numbers'].items() %}
    {{- geom | to_poly(name, 'runway') }}
{% endfor %}

{% for name, geom in data.etns_kml['Runway Arrestor Gear'].items() %}
    {{- geom | to_poly(name, 'taxilane-yellow') }}
{% endfor %}