MAP:Stands
AIRPORT:ETNS
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10
ACTIVE:1

ZOOM:500
{% for name, geom in data.etns_kml['StandLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}

SYMBOL:Helipoint:54.46429936481491:9.5104437145798:H1:1:1
SYMBOL:Helipoint:54.464126232720275:9.511279476822294:H2:1:1