{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDDH CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:ALR:*:*:HEI,HAME,HAMW
ACTIVE:ID:HEI:*:*:HAME,HAMW
ACTIVE:ID:HAME,HAMW,DHAT:*:*:*
ACTIVE:ID:EIDW:*:*:ALR,HEI,HAME,HAMW
ACTIVE:ID:WC:*:*:ALR,HEI,EIDW,HAME,HAMW
{{ render_sectorlines(
		EDWW['EDDH']['000-025']
) }}

{{ ecl_dashes(runways['EDDH']['05'], 25) }}
{{ marker_ticks(runways['EDDH']['05'], [10, 20], 0.5, 0.5) }}
{{ marker_ticks(runways['EDDH']['05'], [5, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EDDH']['15'], 25) }}
{{ marker_ticks(runways['EDDH']['15'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDDH']['15'], [5, 15, 20], -0.5, 1) }}

{{ ecl_dashes(runways['EDDH']['23'], 25) }}
{{ marker_ticks(runways['EDDH']['23'], [10, 20], 0.5, 0.5) }}
{{ marker_ticks(runways['EDDH']['23'], [5, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EDDH']['33'], 25) }}
{{ marker_ticks(runways['EDDH']['33'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDDH']['33'], [5, 15, 20], -0.5, 1) }}

MAP:EDDH CTR (Sector Boberg)
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:RWY:ARR:EDDH33:DEP:*
AND_ACTIVE:ID:ALR:*:*:HEI,HAME,HAMW
ACTIVE:RWY:ARR:EDDH33:DEP:*
AND_ACTIVE:ID:HEI:*:*:HAME,HAMW
ACTIVE:RWY:ARR:*:DEP:EDDH15
AND_ACTIVE:ID:HAME,HAMW,DHAT:*:*:*
ACTIVE:RWY:ARR:*:DEP:EDDH15
AND_ACTIVE:ID:EIDW:*:*:ALR,HEI,HAME,HAMW
ACTIVE:RWY:ARR:*:DEP:EDDH15
AND_ACTIVE:ID:WC:*:*:ALR,HEI,EIDW,HAME,HAMW
{{ render_sectorlines(
		EDWW['EDDH_RWY33']['000-025']
) }}

MAP:EDDH CTR (Sector EDHI)
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:ALR:*:*:HEI,HAME,HAMW
ACTIVE:ID:HEI:*:*:HAME,HAMW
ACTIVE:ID:HAME,HAMW,DHAT:*:*:*
ACTIVE:ID:EIDW:*:*:ALR,HEI,HAME,HAMW
ACTIVE:ID:WC:*:*:ALR,HEI,EIDW,HAME,HAMW
{{ render_sectorlines(
		EDWW['EDDH_RWY05']['000-025']
) }}

{{ ecl_dashes(runways['EDHI']['05'], 10) }}
{{ marker_ticks(runways['EDHI']['05'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHI']['05'], [5], -0.5, 1) }}
{{ loc_tick(runways['EDHI']['05'], -0.5, 1) }}

{{ ecl_dashes(runways['EDHI']['23'], 10) }}
{{ marker_ticks(runways['EDHI']['23'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHI']['23'], [5], -0.5, 1) }}
{{ loc_tick(runways['EDHI']['23'], -0.5, 1) }}