MAP:Holding Points CAT I
AIRPORT:EDDW
FOLDER:Holding Points
ACTIVE:LVP:EDDW:0
COLOR:holdingpoint
STYLE:Solid:4
{% set default = 0.000005 %}
{% for name, geom in data.eddw_kml['HP CATI'].items() %}
    {% if geom[0].__class__.__name__ == 'LinearRing' %}
    {{- geom | simplify(default) | to_poly(name, 'holdingpoint') -}}
    {% else %}
    {{- geom | simplify(default) | to_line(name) -}}
    {% endif %}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDDW
FOLDER:Holding Points
ACTIVE:LVP:EDDW:1
COLOR:holdingpoint
STYLE:Solid:4

{% for name, geom in data.eddw_kml['HP CATII/III'].items() %}
    {{- geom | simplify(default) | to_line(name) -}}
{% endfor %}