MAP:Stands
AIRPORT:EDDW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10
ACTIVE:1

ZOOM:500
{% for name, geom in data.eddw_kml['StandLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}


SYMBOL:Helipoint:N053.02.56.766:E008.47.15.103:H:1:1

MAP:Buildings
AIRPORT:EDDW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10

ZOOM:500
{% for name, geom in data.eddw_kml['BuildingLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}