MAP:Stands
AIRPORT:EDDW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10
ACTIVE:1

ZOOM:500
{% for name, geom in data.eddw_kml['StandLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}

MAP:Buildings
AIRPORT:EDDW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10
ACTIVE:0

ZOOM:500
{% for name, geom in data.eddw_kml['BuildingLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}