MAP:Leadin Lines
AIRPORT:EDDH
FOLDER:Airport Layout
ACTIVE:1
COLOR:leadin
STYLE:solid

//Stands Terminal
{% for stand in ['01A', '01B', '01_E', '02', '02A', '02B', '03', '03A', '03B', '04', '04A', '04B', '05', '05A', '05B', '06', '06A', '06B', '07', '07A', '07B', '08', '09', '10', '11', '12'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//40er Stands
{% for stand in ['42', '43', '44', '44A', '45', '45A', '45B', '46', '46A', '47', '47A', '47B', '48', '48A', '48B', '48_01', '48_OUT_01'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//50er Stands
{% for stand in ['51', '52', '53', '54', '55', '56', '57', '58', '59'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//60er Stands
{% for stand in ['61', '62', '63', '64', '65', '65A', '65A_01'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//80er Stands
{% for stand in ['81', '82', '83', '84', '85', '86', '87', '88'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//90er Stands
{% for stand in ['91', '91A', '91B', '92A', '92', '92B', '93', '93A', '93B'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//100er Stands
{% for stand in ['101', '101_OUT', '102', '102_OUT', '103', '103_OUT', '104', '104_OUT', '105', '105_OUT', '106', '106_OUT', '107', '107_OUT'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//700er Stands
{% for stand in ['701', '701_OUT', '702', '702_OUT', '703', '703_OUT', '704', '704_OUT', '705', '705_OUT', '706', '706_OUT', '707', '708', '709', '709_OUT', '710', '711', '712', '714', '715', '715_OUT', '716', '717'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//800er Stands
{% for stand in ['801', '802', '803', '804'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}

//900er Stands
{% for stand in ['901', '902', '903'] %}
    {{- data.eddh['GuidanceLineByDesig'][ stand | string ] | join_segments | to_line(stand) }}
{% endfor %}