{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETNH CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:NHR:*:*:*
ACTIVE:ID:NHP:*:*:*
ACTIVE:ID:NSR:*:*:NHR,NHP
ACTIVE:ID:NSP:*:*:NHR,NHP
ACTIVE:ID:EID:*:NHT:*
ACTIVE:ID:ALR:*:NHT:EID
ACTIVE:ID:HEI:*:NHT:EID,ALR
ACTIVE:ID:WW:*:NHT:EID,ALR,HEI
ACTIVE:ID:WC:*:NHT:EID,ALR,HEI,WW
{{ render_sectorlines(
		EDWW['ETNH TWR']['000-026']
) }}

{{ ecl_dashes(runways['ETNH']['08'], 12) }}
{{ marker_ticks(runways['ETNH']['08'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNH']['08'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['ETNH']['26'], 12) }}
{{ marker_ticks(runways['ETNH']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNH']['26'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETNH']['26'], -0.5, 1) }}