{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDDV CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:WC:*:*:HAN,HRZ,EMS,WW
ACTIVE:ID:WW:*:*:HAN,HRZ,EMS
ACTIVE:ID:EMS:*:*:HAN,HRZ
ACTIVE:ID:HRZ:*:*:HAN
ACTIVE:ID:HAN,DVAT,NWR,HBR:*:*:*
{{ render_sectorlines(
		EDWW['EDDV']['000-025']
) }}
COLOR:Active_Map_Type_1

{{ ecl_dashes(runways['EDDV']['09L'], 19) }}
{{ marker_ticks(runways['EDDV']['09L'], [5, 10, 15], -0.5, 1) }}
{{ loc_tick(runways['EDDV']['09L'], -0.5, 1) }}

{{ ecl_dashes(runways['EDDV']['09R'], 19) }}
{{ marker_ticks(runways['EDDV']['09R'], [5, 10, 15], -0.5, 1) }}
{{ loc_tick(runways['EDDV']['09R'], -0.5, 1) }}

{{ ecl_dashes(runways['EDDV']['27L'], 19) }}
{{ marker_ticks(runways['EDDV']['27L'], [5, 10, 15], -0.5, 1) }}
{{ loc_tick(runways['EDDV']['27L'], -0.5, 1) }}

{{ ecl_dashes(runways['EDDV']['27R'], 19) }}
{{ marker_ticks(runways['EDDV']['27R'], [5, 10, 15], -0.5, 1) }}
{{ loc_tick(runways['EDDV']['27R'], -0.5, 1) }}