MAP:EDAZ RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:MRZ:*:AZT:MAR,FLG,BOR,DBAN,DBAS
ACTIVE:ID:MAR:*:AZT:FLG,BOR,DBAN,DBAS
ACTIVE:ID:FLG:*:AZT:DBAN,DBAS
ACTIVE:ID:BOR:*:AZT:FLG,DBAN,DBAS
ACTIVE:ID:DBAN,DBAS,DBDS,DBDN,DBAST,DBANT:*:AZT:*
ACTIVE:ID:WC:*:AZT:MRZ,MAR,FLG,BOR,DBAN,DBAS
LINE:N052.13.47.000:E012.59.59.000:N052.15.59.000:E013.13.42.000
LINE:N052.15.59.000:E013.13.42.000:N052.12.30.000:E013.15.53.000
LINE:N052.12.30.000:E013.15.53.000:N052.13.02.000:E013.18.06.000
LINE:N052.13.02.000:E013.18.06.000:N052.10.40.000:E013.19.06.000
LINE:N052.10.40.000:E013.19.06.000:N052.07.59.000:E013.02.28.000
LINE:N052.07.59.000:E013.02.28.000:N052.13.47.000:E012.59.59.000

{{ ecl_dashes(runways['EDAZ']['25'], 8) }}

MAP:EDAZ 25 FIX
COLOR:Active_Map_Type_2
FOLDER:FIXES
ZOOM:10
ACTIVE:RWY:ARR:EDAZ25:DEP:*
AND_ACTIVE:ID:DBAN,DBAS,DBANT,DBAST,DBDS,DBDN:*:*:*
ACTIVE:RWY:ARR:EDAZ25:DEP:*
AND_ACTIVE:ID:FLG:*:*:DBAN,DBAS
ACTIVE:RWY:ARR:EDAZ25:DEP:*
AND_ACTIVE:ID:BOR:*:*:FLG,DBAN,DBAS
ACTIVE:RWY:ARR:EDAZ25:DEP:*
AND_ACTIVE:ID:MAR:*:*:FLG,BOR,DBAN,DBAS
ACTIVE:RWY:ARR:EDAZ25:DEP:*
AND_ACTIVE:ID:MRZ:*:*:MAR,FLG,BOR,DBAN,DBAS
ACTIVE:RWY:ARR:EDAZ25:DEP:*
AND_ACTIVE:ID:WC:*:*:MRZ,MAR,FLG,BOR,DBAN,DBAS
SYMBOL:FIX ENR:MOSEX
SYMBOL:FIX ENR:TRIBY
SYMBOL:FIX TRANS:AZ255
SYMBOL:FIX TRANS:AZ254
SYMBOL:FIX TRANS:AZ253
SYMBOL:FIX TRANS:AZ250