MAP:EDBC RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:MRZ:*:BCT:BOR,FLG,MAR
ACTIVE:ID:MAR:*:BCT:BOR
ACTIVE:ID:FLG:*:BCT:BOR,MAR
ACTIVE:ID:BOR:*:BCT:*
ACTIVE:ID:WC:*:BCT:BOR,MAR,FLG,MRZ
LINE:N051.52.51.000:E011.13.32.000:N051.55.33.000:E011.33.01.000
LINE:N051.55.33.000:E011.33.01.000:N051.49.42.000:E011.35.07.000
LINE:N051.49.42.000:E011.35.07.000:N051.47.00.000:E011.15.40.000
LINE:N051.47.00.000:E011.15.40.000:N051.52.51.000:E011.13.32.000

{{ ecl_dashes(runways['EDBC']['07'], 10) }}
{{ marker_ticks(runways['EDBC']['07'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDBC']['07'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDBC']['25'], 10) }}
{{ marker_ticks(runways['EDBC']['25'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDBC']['25'], [5], -0.5, 1) }}

MAP:EDBC 07 FIX
COLOR:Active_Map_Type_2
FOLDER:FIXES
ZOOM:10
ACTIVE:RWY:ARR:EDBC07:DEP:*
AND_ACTIVE:ID:BOR:*:*:*
ACTIVE:RWY:ARR:EDBC07:DEP:*
AND_ACTIVE:ID:MAR:*:*:BOR
ACTIVE:RWY:ARR:EDBC07:DEP:*
AND_ACTIVE:ID:FLG:*:*:BOR,MAR
ACTIVE:RWY:ARR:EDBC07:DEP:*
AND_ACTIVE:ID:MRZ:*:*:BOR,FLG,MAR
ACTIVE:RWY:ARR:EDBC07:DEP:*
AND_ACTIVE:ID:WC:*:*:BOR,MAR,FLG,MRZ
SYMBOL:NAVAID:MAG
SYMBOL:FIX ENR:REFXU
SYMBOL:FIX TRANS:BC200
SYMBOL:FIX TRANS:BC203
SYMBOL:FIX TRANS:BC100

MAP:EDBC 25 FIX
COLOR:Active_Map_Type_2
FOLDER:FIXES
ZOOM:10
ACTIVE:RWY:ARR:EDBC25:DEP:*
AND_ACTIVE:ID:BOR:*:*:*
ACTIVE:RWY:ARR:EDBC25:DEP:*
AND_ACTIVE:ID:MAR:*:*:BOR
ACTIVE:RWY:ARR:EDBC25:DEP:*
AND_ACTIVE:ID:FLG:*:*:BOR,MAR
ACTIVE:RWY:ARR:EDBC25:DEP:*
AND_ACTIVE:ID:MRZ:*:*:BOR,FLG,MAR
ACTIVE:RWY:ARR:EDBC25:DEP:*
AND_ACTIVE:ID:WC:*:*:BOR,MAR,FLG,MRZ
SYMBOL:NAVAID:MAG
SYMBOL:FIX ENR:ASQUM
SYMBOL:FIX TRANS:BC701