MAP:EDBH RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:MRZ:*:BHT:*
ACTIVE:ID:MAR:*:BHT:MRZ
ACTIVE:ID:BOR:*:BHT:MRZ,MAR
ACTIVE:ID:WC:*:BHT:BOR,MRZ,MAR
LINE:N054.23.19.000:E012.33.32.000:N054.23.14.000:E012.51.42.000
LINE:N054.23.14.000:E012.51.42.000:N054.17.15.000:E012.51.36.000
LINE:N054.17.15.000:E012.51.36.000:N054.17.20.000:E012.33.29.000
LINE:N054.17.20.000:E012.33.29.000:N054.23.19.000:E012.33.32.000

{{ ecl_dashes(runways['EDBH']['09'], 10) }}
{{ marker_ticks(runways['EDBH']['09'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDBH']['09'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDBH']['27'], 10) }}
{{ marker_ticks(runways['EDBH']['27'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDBH']['27'], [5], -0.5, 1) }}

MAP:EDBH 27 FIX
COLOR:Active_Map_Type_2
FOLDER:FIXES
ZOOM:10
ACTIVE:RWY:ARR:EDBH27:DEP:*
AND_ACTIVE:ID:MRZ:*:*:*
ACTIVE:RWY:ARR:EDBH27:DEP:*
AND_ACTIVE:ID:MAR:*:*:MRZ
ACTIVE:RWY:ARR:EDBH27:DEP:*
AND_ACTIVE:ID:BOR:*:*:MRZ,MAR
ACTIVE:RWY:ARR:EDBH27:DEP:*
AND_ACTIVE:ID:WC:*:*:BOR,MRZ,MAR
SYMBOL:FIX ENR:GASBO
SYMBOL:FIX ENR:TEPDU
SYMBOL:FIX ENR:PEROM
SYMBOL:FIX ENR:BASUG
SYMBOL:FIX TRANS:BH450
SYMBOL:FIX TRANS:BH438
SYMBOL:FIX TRANS:BH439