MAP:EDBN RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:MRZ:*:BNT:*
ACTIVE:ID:MAR:*:BNT:MRZ
ACTIVE:ID:BOR:*:BNT:MRZ,MAR
ACTIVE:ID:WC:*:BNT:BOR,MRZ,MAR
LINE:N053.38.56.000:E013.08.46.000:N053.39.18.000:E013.27.38.000
LINE:N053.39.18.000:E013.27.38.000:N053.33.19.000:E013.27.57.000
LINE:N053.33.19.000:E013.27.57.000:N053.32.57.000:E013.09.07.000
LINE:N053.32.57.000:E013.09.07.000:N053.38.56.000:E013.08.46.000

{{ ecl_dashes(runways['EDBN']['09'], 10) }}
{{ marker_ticks(runways['EDBN']['09'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDBN']['09'], [5, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EDBN']['27'], 10) }}
{{ marker_ticks(runways['EDBN']['27'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDBN']['27'], [5, 15], -0.5, 1) }}

MAP:EDBN 09 FIX
COLOR:Active_Map_Type_2
FOLDER:FIXES
ZOOM:10
ACTIVE:RWY:ARR:EDBN09:DEP:*
AND_ACTIVE:ID:MRZ:*:*:*
ACTIVE:RWY:ARR:EDBN09:DEP:*
AND_ACTIVE:ID:MAR:*:*:MRZ
ACTIVE:RWY:ARR:EDBN09:DEP:*
AND_ACTIVE:ID:BOR:*:*:MRZ,MAR
ACTIVE:RWY:ARR:EDBN09:DEP:*
AND_ACTIVE:ID:WC:*:*:BOR,MRZ,MAR
SYMBOL:FIX ENR:LEGSA
SYMBOL:FIX ENR:GEVNI
SYMBOL:FIX ENR:TIRMI
SYMBOL:FIX ENR:BIGTI
SYMBOL:FIX ENR:LAMLO
SYMBOL:FIX TRANS:BN506
SYMBOL:FIX TRANS:BN505
SYMBOL:FIX TRANS:BN501
SYMBOL:FIX TRANS:BN502
SYMBOL:FIX TRANS:BN500

MAP:EDBN_27_RNP
COLOR:Active_Map_Type_2
FOLDER:FIXES
ZOOM:10
ACTIVE:RWY:ARR:EDBN27:DEP:*
AND_ACTIVE:ID:MRZ:*:*:*
ACTIVE:RWY:ARR:EDBN27:DEP:*
AND_ACTIVE:ID:MAR:*:*:MRZ
ACTIVE:RWY:ARR:EDBN27:DEP:*
AND_ACTIVE:ID:BOR:*:*:MRZ,MAR
ACTIVE:RWY:ARR:EDBN27:DEP:*
AND_ACTIVE:ID:WC:*:*:BOR,MRZ,MAR
SYMBOL:FIX ENR:LEGSA
SYMBOL:FIX ENR:GEVNI
SYMBOL:FIX ENR:TIRMI
SYMBOL:FIX ENR:BIGTI
SYMBOL:FIX ENR:GEMGU
SYMBOL:FIX TRANS:BN601
SYMBOL:FIX TRANS:BN602
SYMBOL:FIX TRANS:BN603
SYMBOL:FIX TRANS:BN600