MAP:EDHK RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:EIDE:*:HKT:*
ACTIVE:ID:ALR:*:HKT:EIDE
ACTIVE:ID:EIDW:*:HKT:EIDE,ALR
ACTIVE:ID:WC:*:HKT:EIDE,ALR,EIDW
LINE:N054.25.01.000:E009.58.42.000:N054.26.28.000:E010.17.27.000
LINE:N054.26.28.000:E010.17.27.000:N054.20.32.000:E010.18.54.000
LINE:N054.20.32.000:E010.18.54.000:N054.19.05.000:E010.00.09.000
LINE:N054.19.05.000:E010.00.09.000:N054.25.01.000:E009.58.42.000

{{ ecl_dashes(runways['EDHK']['08'], 10) }}
{{ marker_ticks(runways['EDHK']['08'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHK']['08'], [5, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EDHK']['26'], 10) }}
{{ marker_ticks(runways['EDHK']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDHK']['26'], [5, 15], -0.5, 1) }}

MAP:EDHK 08 FIX
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
ACTIVE:RWY:ARR:EDHK08:DEP:*
AND_ACTIVE:ID:EIDE:*:*:*
ACTIVE:RWY:ARR:EDHK08:DEP:*
AND_ACTIVE:ID:ALR:*:*:EIDE
ACTIVE:RWY:ARR:EDHK08:DEP:*
AND_ACTIVE:ID:EIDW:*:*:EIDE,ALR
ACTIVE:RWY:ARR:EDHK08:DEP:*
AND_ACTIVE:ID:WC:*:*:EIDE,ALR,EIDW
;RWY 08 FIXES
SYMBOL:FIX ENR:RENSU
SYMBOL:FIX ENR:OTAHO
SYMBOL:FIX ENR:FUFKE
SYMBOL:FIX TRANS:HK080
SYMBOL:FIX TRANS:HK081
SYMBOL:FIX TRANS:HK085

MAP:EDHK 26 FIX
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
ACTIVE:RWY:ARR:EDHK26:DEP:*
AND_ACTIVE:ID:EIDE:*:*:*
ACTIVE:RWY:ARR:EDHK26:DEP:*
AND_ACTIVE:ID:ALR:*:*:EIDE
ACTIVE:RWY:ARR:EDHK26:DEP:*
AND_ACTIVE:ID:EIDW:*:*:EIDE,ALR
ACTIVE:RWY:ARR:EDHK26:DEP:*
AND_ACTIVE:ID:WC:*:*:EIDE,ALR,EIDW
;RWY 26 FIXES
SYMBOL:FIX ENR:RENSU
SYMBOL:FIX ENR:OTAHO
SYMBOL:FIX ENR:WEPZI
SYMBOL:FIX TRANS:HK080
SYMBOL:FIX TRANS:HK261
SYMBOL:FIX TRANS:HK265
