MAP:EDWE RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:NTR:*:WET:*
ACTIVE:ID:FRI:*:WET:*
ACTIVE:ID:EID:*:WET:FRI
ACTIVE:ID:ALR:*:WET:FRI,EID
ACTIVE:ID:HEI:*:WET:FRI,EID,ALR
ACTIVE:ID:WW:*:WET:FRI,EID,ALR,HEI
ACTIVE:ID:WC:*:WET:FRI,EID,ALR,HEI,WW
LINE:N053.24.46.000:E007.03.45.000:N053.27.53.000:E007.20.35.000
LINE:N053.27.53.000:E007.20.35.000:N053.22.09.000:E007.23.32.000
LINE:N053.22.09.000:E007.23.32.000:N053.19.03.000:E007.06.44.000
LINE:N053.19.03.000:E007.06.44.000:N053.24.46.000:E007.03.45.000

{{ ecl_dashes(runways['EDWE']['07'], 10) }}
{{ marker_ticks(runways['EDWE']['07'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDWE']['07'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDWE']['25'], 10) }}
{{ marker_ticks(runways['EDWE']['25'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDWE']['25'], [5], -0.5, 1) }}

MAP:EDWE 07 FIX
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:NTR:*:*:*
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:FRI:*:*:EID
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:EID:*:*:FRI
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:ALR:*:*:FRI,EID
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:HEI:*:*:FRI,EID,ALR
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:WW:*:*:FRI,EID,ALR,HEI
ACTIVE:RWY:ARR:EDWE07:DEP:*
AND_ACTIVE:ID:WC:*:*:FRI,EID,ALR,HEI,WW
;RWY 07 FIXES
SYMBOL:FIX ENR:SUQIF
SYMBOL:FIX ENR:DOKUV
SYMBOL:FIX TRANS:WE221
SYMBOL:FIX TRANS:WE222
SYMBOL:FIX TRANS:WE223
SYMBOL:FIX TRANS:WE224

MAP:EDWE 07 FIX HEL
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
;RWY 07 FIXES
SYMBOL:FIX ENR:JUIST
SYMBOL:FIX ENR:EMDIN
SYMBOL:FIX TRANS:WE200
SYMBOL:FIX TRANS:WE201
SYMBOL:FIX TRANS:WE202

MAP:EDWE 25 FIX
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:NTR:*:*:*
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:FRI:*:*:*
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:EID:*:*:FRI
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:ALR:*:*:FRI,EID
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:HEI:*:*:FRI,EID,ALR
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:WW:*:*:FRI,EID,ALR,HEI
ACTIVE:RWY:ARR:EDWE25:DEP:*
AND_ACTIVE:ID:WC:*:*:FRI,EID,ALR,HEI,WW
;RWY 25 FIXES
SYMBOL:FIX ENR:SUQIF
SYMBOL:FIX ENR:ARKUL
SYMBOL:FIX TRANS:WE120
SYMBOL:FIX TRANS:WE122

MAP:EDWE 25 FIX HEL
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
;RWY 25 FIXES
SYMBOL:FIX ENR:JUIST
SYMBOL:FIX ENR:INKAN
SYMBOL:FIX TRANS:WE100
SYMBOL:FIX TRANS:WE101
SYMBOL:FIX TRANS:WE102