MAP:EDWI RMZ
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:NTR:*:WIT:*
ACTIVE:ID:FRI:*:WIT:*
ACTIVE:ID:EID:*:WIT:FRI
ACTIVE:ID:ALR:*:WIT:FRI,EID
ACTIVE:ID:WW:*:WIT:FRI,EID,ALR
ACTIVE:ID:WC:*:WIT:FRI,EIE,ALR,WW
LINE:N053.36.07.000:E008.01.47.000:N053.33.53.000:E008.11.06.000
LINE:N053.33.53.000:E008.11.06.000:N053.24.08.000:E008.04.29.000
LINE:N053.24.08.000:E008.04.29.000:N053.26.22.000:E007.55.11.000
LINE:N053.26.22.000:E007.55.11.000:N053.36.07.000:E008.01.47.000

{{ ecl_dashes(runways['EDWI']['02'], 10) }}
{{ marker_ticks(runways['EDWI']['02'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDWI']['02'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDWI']['20'], 10) }}
{{ marker_ticks(runways['EDWI']['20'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDWI']['20'], [5], -0.5, 1) }}

MAP:EDWI 02 FIX
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
ACTIVE:RWY:ARR:EDWI02:DEP:*
AND_ACTIVE:ID:NTR:*:*:*
ACTIVE:RWY:ARR:EDWI02:DEP:*
AND_ACTIVE:ID:FRI:*:*:*
ACTIVE:RWY:ARR:EDWI02:DEP:*
AND_ACTIVE:ID:EID:*:*:FRI
ACTIVE:RWY:ARR:EDWI02:DEP:*
AND_ACTIVE:ID:ALR:*:*:FRI,EID
ACTIVE:RWY:ARR:EDWI02:DEP:*
AND_ACTIVE:ID:WW:*:*:FRI,EID,ALR
ACTIVE:RWY:ARR:EDWI02:DEP:*
AND_ACTIVE:ID:WC:*:*:FRI,EID,ALR,WW
;RWY 02 FIXES
SYMBOL:FIX ENR:REVLA
SYMBOL:FIX ENR:XETEL
SYMBOL:FIX TRANS:WI110

MAP:EDWI 20 FIX
FOLDER:FIXES
COLOR:Active_Map_Type_2
ZOOM:10
ACTIVE:RWY:ARR:EDWI20:DEP:*
AND_ACTIVE:ID:NTR:*:*:*
ACTIVE:RWY:ARR:EDWI20:DEP:*
AND_ACTIVE:ID:FRI:*:*:*
ACTIVE:RWY:ARR:EDWI20:DEP:*
AND_ACTIVE:ID:EID:*:*:FRI
ACTIVE:RWY:ARR:EDWI20:DEP:*
AND_ACTIVE:ID:ALR:*:*:FRI,EID
ACTIVE:RWY:ARR:EDWI20:DEP:*
AND_ACTIVE:ID:WW:*:*:FRI,EID,ALR
ACTIVE:RWY:ARR:EDWI20:DEP:*
AND_ACTIVE:ID:WC:*:*:FRI,EID,ALR,WW
;RWY 20 FIXES
SYMBOL:FIX ENR:REVLA
SYMBOL:FIX ENR:NOSNO
SYMBOL:FIX TRANS:WI211
SYMBOL:FIX TRANS:WI212
SYMBOL:FIX TRANS:WI215