{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETHC CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:WC:*:HCT:HAN,HRZ,EMS,WW
ACTIVE:ID:WW:*:HCT:HAN,HRZ,EMS
ACTIVE:ID:EMS:*:HCT:HAN,HRZ
ACTIVE:ID:HRZ:*:HCT:HAN
ACTIVE:ID:HAN,DVAT:*:HCT:*
ACTIVE:ID:HCR:*:*:*
{{ render_sectorlines(
		EDWW['ETHC TWR']['000-025']
) }}

{{ ecl_dashes(runways['ETHC']['08'], 12) }}
{{ marker_ticks(runways['ETHC']['08'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETHC']['08'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['ETHC']['26'], 12) }}
{{ marker_ticks(runways['ETHC']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETHC']['26'], [5], -0.5, 1) }}