{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
{%- set EGPX = data['sectors']['lines']['EGPX'] -%}
MAP:LOWER SECTORS
FOLDER:GENERAL
COLOR:Active_Map_Type_20
LAYER:-2
ACTIVE:1
STYLE:DOT
{{ render_sectorlines(
		EDWW['EDWWALR']['105-245'],
		EDWW['EDWWHEI']['105-245'],
		sector_sub(EDWW['EDWWEID1']['000-245'], EDWW['EDWWEID2']['105-245']),
		sector_sub(EDWW['EDWWEID2']['105-245'], EDWW['EDWWEID1']['000-245']),
		sector_sub(EDWW['EDWWEMS1']['000-245'], EDWW['EDWWEMS2']['105-245']),
		sector_sub(EDWW['EDWWEMS2']['105-245'], EDWW['EDWWEMS1']['000-245']),
		sector_and(EDWW['EDWWMRZ1']['000-285'], EDWW['EDWWMAR1']['000-285']),
		sector_and(EDWW['EDWWMRZ1']['000-285'], EDWW['EDWWMAR5']['105-285']),
		sector_and(EDWW['EDWWMRZ2']['000-245'], EDWW['EDWWMAR4']['105-245']),
		sector_and(EDWW['EDWWMAR1']['000-285'], EDWW['EDWWBOR1']['000-285']),
		sector_and(EDWW['EDWWMAR1']['000-285'], EDWW['EDWWBOR3']['165-285']),
		sector_and(EDWW['EDWWMAR2']['135-285'], EDWW['EDWWBOR3']['165-285']),
		sector_and(EDWW['EDWWMAR2']['135-285'], EDWW['EDWWFLG1']['165-285']),
		sector_and(EDWW['EDWWBOR1']['000-285'], EDWW['EDWWFLG3']['165-285']),
		sector_sub(EDWW['EDWWBOR3']['165-285'], EDWW['EDWWBOR1']['000-285']),
		EDMM['EDMMHAL']['245-285'],
		EDMM['EDMMHAL']['285-315'],
		EDMM['EDMMGER']['245-285'],
		EDMM['EDMMMEI']['245-285'],
		EDMM['EDMMBBG']['245-295'],
		EDMM['EDMMHOF']['245-315'],
) }}