{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDXW CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:WC:*:*:EID,ALR,HEI,WW
ACTIVE:ID:WW:*:*:EID,ALR,HEI
ACTIVE:ID:HEI:*:*:EID,ALR
ACTIVE:ID:ALR:*:*:EID
ACTIVE:ID:EID:*:*:*
{{ render_sectorlines(
		EDWW['EDXW']['000-025']
) }}

{{ ecl_dashes(runways['EDXW']['14'], 12) }}
{{ marker_ticks(runways['EDXW']['14'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDXW']['14'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDXW']['32'], 12) }}
{{ marker_ticks(runways['EDXW']['32'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDXW']['32'], [5], -0.5, 1) }}
{{ loc_tick(runways['EDXW']['32'], -0.5, 1) }}