{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDXW CTR AUTO
LAYER:2
FOLDER:D(CTR)
COLOR:Active_Map_Type_14
ACTIVE:ID:WC:*:XWT:EIDE,ALR,EIDW
ACTIVE:ID:EIDW:*:XWT:EIDE,ALR
ACTIVE:ID:ALR:*:XWT:EIDE
ACTIVE:ID:EIDE:*:XWT:*
{{ render_sectorlines(
		EDWW['EDXW']['000-025']
) }}

{{ ecl_dashes(runways['EDXW']['14'], 12) }}
{{ marker_ticks(runways['EDXW']['14'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDXW']['14'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['EDXW']['32'], 12) }}
{{ marker_ticks(runways['EDXW']['32'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['EDXW']['32'], [5], -0.5, 1) }}
{{ loc_tick(runways['EDXW']['32'], -0.5, 1) }}