{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETNL CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:MRZ,NLR,NLP:*:*:*
ACTIVE:ID:MAR:*:*:MRZ
ACTIVE:ID:BOR:*:*:MRZ,MAR
ACTIVE:ID:WC:*:*:MRZ,MAR,BOR
{{ render_sectorlines(
		EDWW['ETNL']['000-023']
) }}

{{ ecl_dashes(runways['ETNL']['09'], 12) }}
{{ marker_ticks(runways['ETNL']['09'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNL']['09'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETNL']['09'], -0.5, 1) }}

{{ ecl_dashes(runways['ETNL']['27'], 12) }}
{{ marker_ticks(runways['ETNL']['27'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNL']['27'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETNL']['27'], -0.5, 1) }}