/------------------------- Approach Procedures ----------------------

// Any change shall be transfered to topsky-edww/100-EDDB/03-approaches.jinja
MAP:EDDB ILS X 06
FOLDER:Procs
COLOR:Active_Map_Type_2
LAYER:3
STYLE:Dot
/--------------------- 06L ------------------------

COORD:BBI
COORD_PBD:BBI:234M:14.4
COORD_TURN:1.83755:10:234M:190.5
COORD_PBD:EDDB/06L:244.5M:16.1
COORD:ODIDO
COORDLINE

// Fixes
TEXTALIGN:LT
SYMBOL:FIX VOR:BBI:BBI:5:0
SYMBOL:FIX TRANS:N052.12.55.054:E013.07.16.409:14.4 DME BBI:5:0
SYMBOL:FIX TRANS:N052.16.11.227:E013.04.35.864:16.1 DME IBNE:5:0
SYMBOL:FIX TRANS BIG:ODIDO:ODIDO:5:0

/--------------------- 06R ------------------------

COORD:BBI
COORD_PBD:BBI:228M:12.2
COORD_TURN:1.777:10:228M:188.2
COORD_PBD:EDDB/06R:244.5M:13
COORD:TEBGO
COORDLINE

// Fixes
TEXTALIGN:LT
SYMBOL:FIX VOR:BBI:BBI:5:0
SYMBOL:FIX TRANS:N052.13.02.234:E013.11.30.671:12.2 DME BBI:5:0
SYMBOL:FIX TRANS:N052.15.59.287:E013.08.19.332:13.0 DME IBSE:5:0
SYMBOL:FIX TRANS BIG:TEBGO:TEBGO:5:0


MAP:EDDB ILS Y 06
FOLDER:Procs
COLOR:Active_Map_Type_2
LAYER:3
STYLE:Dot
/--------------------- 06L ------------------------
// via DB546
COORD:DB546
COORD:DB944
COORD:DB943
COORDLINE
// via DB534
COORD:DB534
COORD:DB943
COORDLINE
// common
COORD:DB943
COORD:DB942
COORD:DB941
COORD:DB940
COORD:DB030
COORD:LIGBA
COORDLINE
// Fixes
TEXTALIGN:LB
SYMBOL:FIX TRANS BIG:DB546:DB546:5:0
SYMBOL:FIX TRANS:DB944:DB944:5:0
SYMBOL:FIX TRANS:DB943:DB943:5:0
SYMBOL:FIX TRANS BIG:DB534:DB534:5:0
SYMBOL:FIX TRANS:DB942:DB942:5:0
SYMBOL:FIX TRANS:DB941:DB941:5:0
SYMBOL:FIX TRANS:DB940:DB940:5:0
SYMBOL:FIX TRANS:DB030:DB030:5:0
SYMBOL:FIX TRANS:LIGBA:LIGBA:5:0

/--------------------- 06R ------------------------
// via DB557
COORD:DB557
COORD:DB935
COORD:DB934
COORD:DB933
COORDLINE
// via DB564
COORD:DB564
COORD:DB933
COORDLINE
// common
COORD:DB933
COORD:DB932
COORD:DB931
COORD:DB930
COORD:DB040
COORD:REGBA
COORDLINE
// Fixes
TEXTALIGN:LB
SYMBOL:FIX TRANS BIG:DB557:DB557:5:0
SYMBOL:FIX TRANS:DB935:DB935:5:0
SYMBOL:FIX TRANS:DB934:DB934:5:0
SYMBOL:FIX TRANS:DB933:DB933:5:0
SYMBOL:FIX TRANS BIG:DB564:DB564:5:0
SYMBOL:FIX TRANS:DB932:DB932:5:0
SYMBOL:FIX TRANS:DB931:DB931:5:0
SYMBOL:FIX TRANS:DB930:DB930:5:0
SYMBOL:FIX TRANS:DB040:DB040:5:0
SYMBOL:FIX TRANS:REGBA:REGBA:5:0


MAP:EDDB RNP Y 06
FOLDER:Procs
COLOR:Active_Map_Type_2
LAYER:3
STYLE:Dot
/--------------------- 06L ------------------------
// via DB546
COORD:DB546
COORD:DB944
COORD:DB943
COORDLINE
// via DB534
COORD:DB534
COORD:DB943
COORDLINE
// common
COORD:DB943
COORD:DB942
COORD:DB941
COORD:DB940
COORD:LIGBA
COORDLINE
// Fixes
TEXTALIGN:LB
SYMBOL:FIX TRANS BIG:DB546:DB546:5:0
SYMBOL:FIX TRANS:DB944:DB944:5:0
SYMBOL:FIX TRANS:DB943:DB943:5:0
SYMBOL:FIX TRANS BIG:DB534:DB534:5:0
SYMBOL:FIX TRANS:DB942:DB942:5:0
SYMBOL:FIX TRANS:DB941:DB941:5:0
SYMBOL:FIX TRANS:DB940:DB940:5:0
SYMBOL:FIX TRANS:LIGBA:LIGBA:5:0

/--------------------- 06R ------------------------
// via DB557
COORD:DB557
COORD:DB935
COORD:DB934
COORD:DB933
COORDLINE
// via DB564
COORD:DB564
COORD:DB933
COORDLINE
// common
COORD:DB933
COORD:DB932
COORD:DB931
COORD:DB930
COORD:REGBA
COORDLINE
// Fixes
TEXTALIGN:LB
SYMBOL:FIX TRANS BIG:DB557:DB557:5:0
SYMBOL:FIX TRANS:DB935:DB935:5:0
SYMBOL:FIX TRANS:DB934:DB934:5:0
SYMBOL:FIX TRANS:DB933:DB933:5:0
SYMBOL:FIX TRANS BIG:DB564:DB564:5:0
SYMBOL:FIX TRANS:DB932:DB932:5:0
SYMBOL:FIX TRANS:DB931:DB931:5:0
SYMBOL:FIX TRANS:DB930:DB930:5:0
SYMBOL:FIX TRANS:REGBA:REGBA:5:0


MAP:EDDB ILS X 24
FOLDER:Procs
COLOR:Active_Map_Type_2
LAYER:3
STYLE:Dot
/--------------------- 24L ------------------------

COORD:BBI
COORD_PBD:BBI:052M:15.5
COORD_TURN:1.7:10:052M:180
COORD_PBD:EDDB/24L:064.5M:13
COORD:XANIM
COORDLINE

// Fixes
TEXTALIGN:LT
SYMBOL:FIX VOR:BBI:BBI:5:0
SYMBOL:FIX TRANS:N052.29.05.869:E013.48.23.323:15.5 DME BBI:5:0
SYMBOL:FIX TRANS:N052.26.11.075:E013.51.15.091:13.0 DME IBSW:5:0
SYMBOL:FIX TRANS BIG:XANIM:XANIM:5:0

/--------------------- 24R ------------------------

COORD:BBI
COORD_PBD:BBI:050M:19.2
COORD_TURN:1.925:10:050M:180
COORD_PBD:EDDB/24R:064.5M:16.1
COORD:UBURU
COORDLINE

// Fixes
TEXTALIGN:LT
SYMBOL:FIX VOR:BBI:BBI:5:0
SYMBOL:FIX TRANS:N052.31.41.301:E013.52.50.073:19.2 DME BBI:5:0
SYMBOL:FIX TRANS:N052.28.25.914:E013.56.11.119:16.1 DME IBNW:5:0
SYMBOL:FIX TRANS BIG:UBURU:UBURU:5:0


MAP:EDDB ILS Y 24
FOLDER:Procs
COLOR:Active_Map_Type_2
LAYER:3
STYLE:Dot
/--------------------- 24L ------------------------
// via DB457
COORD:DB457
COORD:DB920
COORDLINE
// via DB465
COORD:DB465
COORD:DB920
COORDLINE
// common
COORD:DB920
COORD:DB921
COORD:DB922
COORD:DB900
COORD:DB050
COORD:LIMFE
COORDLINE
// Fixes
TEXTALIGN:LT
SYMBOL:FIX TRANS BIG:DB457:DB457:5:0
SYMBOL:FIX TRANS:DB920:DB920:5:0
SYMBOL:FIX TRANS BIG:DB465:DB465:5:0
SYMBOL:FIX TRANS:DB921:DB921:5:0
SYMBOL:FIX TRANS:DB922:DB922:5:0
SYMBOL:FIX TRANS:DB900:DB900:5:0
SYMBOL:FIX TRANS:DB050:DB050:5:0
SYMBOL:FIX TRANS:LIMFE:LIMFE:5:0


MAP:EDDB RNP Y 24
FOLDER:Procs
COLOR:Active_Map_Type_2
LAYER:3
STYLE:Dot
/--------------------- 24L ------------------------
// via DB457
COORD:DB457
COORD:DB920
COORDLINE
// via DB465
COORD:DB465
COORD:DB920
COORDLINE
// common
COORD:DB920
COORD:DB921
COORD:DB922
COORD:DB923
COORD:DB924
COORD:LIMFE
COORDLINE
// Fixes
TEXTALIGN:LT
SYMBOL:FIX TRANS BIG:DB457:DB457:5:0
SYMBOL:FIX TRANS:DB920:DB920:5:0
SYMBOL:FIX TRANS BIG:DB465:DB465:5:0
SYMBOL:FIX TRANS:DB921:DB921:5:0
SYMBOL:FIX TRANS:DB922:DB922:5:0
SYMBOL:FIX TRANS:DB923:DB923:5:0
SYMBOL:FIX TRANS:DB924:DB924:5:0
SYMBOL:FIX TRANS:LIMFE:LIMFE:5:0