MAP:Taxi Lanes
AIRPORT:EDHL
FOLDER:Airport Layout
ACTIVE:1
STYLE:solid
{% set default = 0.000005 %}

COLOR:taxilane-yellow
{{ data.edhl['GuidanceLineByDesig']['RWY07INTTWYA01'] | join_segments | simplify(default) | to_line('A') }}
{{ data.edhl['GuidanceLineByDesig']['RWY07INTTWYA02'] | join_segments | simplify(default) | to_line('A') }}
{{ data.edhl['GuidanceLineByDesig']['TWY A 01'] | join_segments | simplify(default) | to_line('A') }}
{{ data.edhl['GuidanceLineByDesig']['TWY A 02'] | join_segments | simplify(default) | to_line('A') }}

{{ data.edhl['GuidanceLineByDesig']['RWY 07 TWY B'] | join_segments | simplify(default) | to_line('B') }}
{{ data.edhl['GuidanceLineByDesig']['TWYB'] | join_segments | simplify(default) | to_line('B') }}
{{ data.edhl['GuidanceLineByDesig']['TWYB INT RWY07'] | join_segments | simplify(default) | to_line('B') }}

{{ data.edhl['GuidanceLineByDesig']['RWY07INTTWYC 02'] | join_segments | simplify(default) | to_line('C') }}
{{ data.edhl['GuidanceLineByDesig']['RWY25INTTWYC 01'] | join_segments | simplify(default) | to_line('C') }}
{{ data.edhl['GuidanceLineByDesig']['RWY25INTTWYC 02'] | join_segments | simplify(default) | to_line('C') }}
{{ data.edhl['GuidanceLineByDesig']['TWYC'] | join_segments | simplify(default) | to_line('C') }}

{{ data.edhl['GuidanceLineByDesig']['RWY07INTTWYD01'] | join_segments | simplify(default) | to_line('D') }}
{{ data.edhl['GuidanceLineByDesig']['RWY07INTTWYD02'] | join_segments | simplify(default) | to_line('D') }}
{{ data.edhl['GuidanceLineByDesig']['TWY D 01'] | join_segments | simplify(default) | to_line('D') }}
{{ data.edhl['GuidanceLineByDesig']['TWY D 02'] | join_segments | simplify(default) | to_line('D') }}
{{ data.edhl['GuidanceLineByDesig']['TWYAD INT RWY07'] | join_segments | simplify(default) | to_line('D') }}

{{ data.edhl['GuidanceLineByDesig']['TL Z1 01'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 02'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 03'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 04'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 05'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 06'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 07'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 08'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 09'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 10'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 11'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 12'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 13'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 14'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 15'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 16'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 17'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 AUF Z2_01'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 AUF Z2_02'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z1 AUF Z2_03'] | join_segments | simplify(default) | to_line('Z1') }}
{{ data.edhl['GuidanceLineByDesig']['Z1'] | join_segments | simplify(default) | to_line('Z1') }}

{{ data.edhl['GuidanceLineByDesig']['TL Z2 01'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 02'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 03'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 04'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 05'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 06'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 07'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 08'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 09'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 AUF TWY C1'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 AUF TWY C2'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 G'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 GRASS'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 H'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 H2'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 R1'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 R2'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 R3'] | join_segments | simplify(default) | to_line('Z2') }}
{{ data.edhl['GuidanceLineByDesig']['TL Z2 R4'] | join_segments | simplify(default) | to_line('Z2') }}