{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETMN CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:MNR:*:*:*
ACTIVE:ID:NTR:*:MNR:*
ACTIVE:ID:EID:*:MNT:*
ACTIVE:ID:ALR:*:MNT:EID
ACTIVE:ID:HEI:*:MNT:EID,ALR
ACTIVE:ID:WW:*:MNT:EID,ALR,HEI
ACTIVE:ID:WC:*:MNT:EID,ALR,HEI,WW
{{ render_sectorlines(
		EDWW['ETMN TWR']['000-026']
) }}

{{ ecl_dashes(runways['ETMN']['08'], 12) }}
{{ marker_ticks(runways['ETMN']['08'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETMN']['08'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETMN']['08'], -0.5, 1) }}

{{ ecl_dashes(runways['ETMN']['26'], 12) }}
{{ marker_ticks(runways['ETMN']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETMN']['26'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETMN']['26'], -0.5, 1) }}