{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:ETNT CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:NTR:*:*:*
ACTIVE:ID:FRI:*:*:*
ACTIVE:ID:EID:*:NTT:FRI
ACTIVE:ID:ALR:*:NTT:FRI,EID
ACTIVE:ID:WW:*:NTT:FRI,EID,ALR
ACTIVE:ID:WC:*:NTT:FRI,EID,ALR,WW
{{ render_sectorlines(
		EDWW['ETNT TWR']['000-025']
) }}

{{ ecl_dashes(runways['ETNT']['07'], 12) }}
{{ marker_ticks(runways['ETNT']['07'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNT']['07'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['ETNT']['25'], 12) }}
{{ marker_ticks(runways['ETNT']['25'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNT']['25'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETNT']['25'], -0.5, 1) }}