MAP:ETNT CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:NTR:*:*:*
ACTIVE:ID:EIDE:*:NTT:*
ACTIVE:ID:ALR:*:NTT:EIDE
ACTIVE:ID:EIDW:*:NTT:EIDE,ALR
ACTIVE:ID:WC:*:NTT:EIDE,ALR,EIDW
LINE:N053.34.48.000:E007.29.20.000:N053.37.24.000:E007.49.55.000
LINE:N053.37.24.000:E007.49.55.000:N053.31.21.000:E007.52.03.000
LINE:N053.31.21.000:E007.52.03.000:N053.28.45.000:E007.31.31.000
LINE:N053.28.45.000:E007.31.31.000:N053.34.48.000:E007.29.20.000

{{ ecl_dashes(runways['ETNT']['08'], 12) }}
{{ marker_ticks(runways['ETNT']['08'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNT']['08'], [5], -0.5, 1) }}

{{ ecl_dashes(runways['ETNT']['26'], 12) }}
{{ marker_ticks(runways['ETNT']['26'], [10], 0.5, 0.5) }}
{{ marker_ticks(runways['ETNT']['26'], [5], -0.5, 1) }}
{{ loc_tick(runways['ETNT']['26'], -0.5, 1) }}