{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
{%- set EGPX = data['sectors']['lines']['EGPX'] -%}
MAP:UPPER SECTORS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:ID:BOR,MRZ,MAR:*:*:HVL,OSE
ACTIVE:ID:FLG:*:*:HVL,OSE,BOR
ACTIVE:ID:EIDE:*:*:JL,JH,HH,BB
ACTIVE:ID:ALR:*:*:JL,JH,HH,BB,EIDE
ACTIVE:ID:EMS:*:*:BB,ML,MH,MM,SL,SH,RL,RH,PAH
ACTIVE:ID:DST:*:*:BB,ML,MH,SL,SH
ACTIVE:ID:EIDW,WC:*:*:*
STYLE:Dot
LAYER:2	
{{ render_sectorlines(

		EDGG['YYMAB']['245-315'],
		EDGG['YYML2']['295-355'],
		EDGG['YYRAB']['245-315'],
		EDGG['YYRL1']['245-355'],
		EDGG['YYRL2']['295-355'],
		EHAA['EDYYDLT']['245-660'],
		EDMM['EDUUSAL12']['315-365'],
		EDMM['EDUUSPE12']['315-365'],
		EDMM['EDUUERL12']['315-365'],
		EDGG['FUL23']['355-375'],
		EDGG['FFM24']['325-355'],
		EGPX['HUMBER']['000-660'],
		EGPX['HUMBER-GODOS-HIGH']['245-660'],
		EKDK['EKDK_N']['085-365'],
		EKDK['EKDK_N-PX']['245-365'],
		EKDK['EKDK_C']['285-660'],
		EKDK['EKDK_A']['285-660'],
		ESAA['ESMM 8-3']['285-365'],
) }}
