{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
MAP:EDDW CTR
LAYER:-1
FOLDER:D(CTR)
COLOR:Active_Map_Type_2
ACTIVE:ID:WC:*:*:FRI,EID,ALR,WW
ACTIVE:ID:WW:*:*:FRI,EID,ALR
ACTIVE:ID:ALR:*:*:FRI,EID
ACTIVE:ID:EID:*:*:FRI
ACTIVE:ID:FRI:*:*:*
{{ render_sectorlines(
		EDWW['EDDW']['000-025']
) }}

{{ ecl_dashes(runways['EDDW']['09'], 14) }}
{{ marker_ticks(runways['EDDW']['09'], [6, 10], 0.5, 0.5) }}
{{ loc_tick(runways['EDDW']['09'], -0.5, 1) }}

{{ ecl_dashes(runways['EDDW']['27'], 14) }}
{{ marker_ticks(runways['EDDW']['27'], [6, 10], 0.5, 0.5) }}
{{ loc_tick(runways['EDDW']['27'], -0.5, 1) }}