MAP:Runway
AIRPORT:ETSH
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.etsh_kml['Runways'].items() %}
    {{- geom | to_poly(name, 'runway') }}
{% endfor %}

{% for name, geom in data.etsh_kml['LANES'].items() %}
    {{- geom | to_poly(name, 'grass') }}
{% endfor %}