{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
MAP:UPPER SECTORS
COLOR:Active_Map_Type_4
STYLE:DOT:1
ACTIVE:1
{{ render_sectorlines(
		EDWW['EDYYCL1']['245-355'],
		EDWW['EDYYHL1']['245-355'],
		EDWW['EDYYHL2']['315-355'],
		EDWW['EDYYHL3']['315-355'],
		EDWW['EDYYJL']['245-355'],
		EDWW['EDYYSO']['245-355'],
		EDWW['EDYYSO1']['255-355'],
		EDGG['YYMAB']['245-315'],
		EDGG['YYML1']['245-355'],
		EDGG['YYML2']['295-315'],
		EDGG['YYRAB']['245-315'],
		EDGG['YYRL1']['245-355'],
		EDGG['YYRL2']['295-355'],
		EHAA['EDYYDLTE']['315-660'],
		EHAA['EDYYDLTW']['245-660'],
		EBBU['EDYYLNH_SCT']['245-660'],
		EBBU['EDYYLNH_SCT 2']['255-660'],
		EDWW['EDUUOSE12']['285-365'],
		EDWW['EDUUHVL12']['285-365'],
		EDMM['EDUUSAL12']['315-365'],
		EDWW['EDUUSPE12']['315-365'],
		EDGG['FUL23']['355-375'],
		EDGG['FFM24']['325-355'],
		EDGG['NTM24']['325-355'],
) }}