{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
MAP:UPPER SECTORS
COLOR:Active_Map_Type_4
STYLE:DOT:1
ACTIVE:1
{{ render_sectorlines(
		EDWW['EDYYCL1']['245-355'],
		EDWW['EDYYHL1']['245-355'],
		sector_and(EDWW['EDYYHL2']['245-315'], EDWW['EDYYHL3']['245-315'],),
		EDWW['EDYYJL']['245-355'],
		EDWW['EDYYSO']['245-355'],
		EDWW['EDYYSO1']['255-355'],
) }}