{%- set EDMM = data['sectors']['lines']['EDMM'] -%}
{%- set EDGG = data['sectors']['lines']['EDGG'] -%}
{%- set EDWW = data['sectors']['lines']['EDWW'] -%}
{%- set EHAA = data['sectors']['lines']['EHAA'] -%}
{%- set EKDK = data['sectors']['lines']['EKDK'] -%}
{%- set EPWW = data['sectors']['lines']['EPWW'] -%}
{%- set ESAA = data['sectors']['lines']['ESAA'] -%}
{%- set EBBU = data['sectors']['lines']['EBBU'] -%}
{%- set EGPX = data['sectors']['lines']['EGPX'] -%}
MAP:LOWER SECTORS
FOLDER:SECTORS
COLOR:Active_Map_Type_2
ACTIVE:1
LAYER:-1
STYLE:Solid
ASRDATA:LOWER
{{ render_sectorlines(
		EDWW['EDWWALR']['105-245'],
		EDWW['EDWWBOR1']['000-285'],
		EDWW['EDWWBOR2']['000-055'],
		EDWW['EDWWBOR3']['165-285'],
		EDWW['EDWWEID1']['000-245'],
		EDWW['EDWWEID2']['105-245'],
		EDWW['EDWWEMS1']['000-245'],
		EDWW['EDWWEMS2']['105-245'],
		EDWW['EDWWEMS3']['000-025'],
		EDWW['EDWWFLG1']['165-285'],
		EDWW['EDWWFLG2']['135-285'],
		EDWW['EDWWFLG3']['165-285'],
		EDWW['EDWWFRI']['000-105'],
		sector_sub(EDWW['EDWWHAM']['000-105'], EDWW['EDWWHAM_W']['000-105']),
		sector_sub(EDWW['EDWWHAM_W']['000-105'], EDWW['EDWWHAM']['000-105']),
		EDWW['EDWWHEI']['105-245'],
		EDWW['EDWWHRZ1']['000-245'],
		EDWW['EDWWHRZ2']['105-245'],
		EDWW['EDWWHRZ3']['055-245'],
		EDWW['EDWWHRZ4']['000-235'],
		EDWW['EDWWHRZ5']['075-245'],
		EDWW['EDWWMAR1']['000-285'],
		EDWW['EDWWMAR2']['135-285'],
		EDWW['EDWWMAR3']['000-245'],
		EDWW['EDWWMAR4']['105-245'],
		EDWW['EDWWMAR5']['105-285'],
		EDWW['EDWWMRZ1']['000-285'],
		EDWW['EDWWMRZ2']['000-245'],
		EDWW['EDWWMRZ4']['000-105'],
		EDWW['EDWWMRZ5']['000-105'],
		EDWW['EDWWMRZ6']['000-105'],
		EDWW['EDWWHAN']['000-105'],
		EDGG['HEF1']['000-245'],
		EDGG['HEF2']['000-195'],
		EDGG['HEF4']['000-215'],
		EDGG['GED4']['175-245'],
		EDGG['GED5']['215-245'],
		EDGG['GED6']['235-245'],
		EDGG['GIN1']['000-245'],
		EDGG['GIN2']['195-245'],
		EDGG['GIN7']['000-075'],
		EDGG['HMM1']['000-245'],
		EDGG['HMM2']['000-205'],
		EDGG['HMM3']['075-245'],
		EDGG['HMM4']['000-135'],
		EDGG['HMM5']['000-105'],
		EDGG['HMM6']['135-245'],
		EDGG['PADL1']['000-135'],
		EDGG['PADL5']['000-075'],
		EDGG['PADL7']['075-135'],
		EDGG['PADH2']['115-245'],
		EDMM['EDMMBBG']['245-295'],
		EDMM['EDMMHOF']['245-315'],
		EDMM['EDMMHAL']['195-245'],
		EDMM['EDMMHAL']['245-285'],
		EDMM['EDMMGER']['195-245'],
		EDMM['EDMMGER']['245-285'],
		EDMM['EDMMMEI']['245-285'],
		EDMM['EDMMTRN']['055-145'],
		EPWW['EPWWB']['285-295'],
		EPWW['EPWWD']['245-295'],
		EPWW['EPWWT']['285-295'],
 		EPWW['EPSC_EDAH']['010-025'],
		EPWW['EPSC_EDAH']['025-095'],
		EPWW['EPSC_TMA']['017-045'],
		EPWW['EPSC_TMA']['045-055'],
		EPWW['EPSC_TMA']['055-095'],
		EPWW['EPSC_TMA']['095-135'],
		ESAA['EKRN TMA']['045-095'],
		ESAA['ESMM L-1']['095-285'],
		ESAA['ESMM 8-1']['195-365'],
		ESAA['ESMM 8-2']['245-365'],
		EKDK['EKDK_B']['105-285'],
		EKDK['EKDK_B-3']['245-285'],
		EKDK['EKDK_I']['105-285'],
		EKDK['EKDK_I-2']['245-285'],
		EKDK['EKDK_D-2']['245-285'],
		EKDK['EKDK_N_EAST_NEWTEST']['035-085'],
		EKDK['EKDK_N']['085-365'],
		EKDK['EKDK_N_COIF_W_NEWTEST']['000-085'],
		EKDK['EKDK_N_COIF_E_NEWTEST']['000-035'],
		EKDK['EKSPLTA']['015-065'],
		EHAA['EHAA CTA E1']['095-245'],
		EHAA['EHAA CTA E2']['095-245'],
		EHAA['EHGG TMA']['015-065'],
		EHAA['EHMC CTA N1']['055-245'],
		EHAA['EHMC TMA A1']['015-245'],
		EHAA['EHMC TMA C']['095-245'],
) }}
