MAP:Taxiway Movement Areas
AIRPORT:ETNT
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.etnt_kml['Taxiways'].items() %}
    {{- geom | to_poly(name, 'taxiway') }}
{% endfor %}

{% for name, geom in data.etnt_kml['TaxiwayCutouts'].items() %}
    {{- geom | to_poly(name, 'base') }}
{% endfor %}
