MAP:Runway Markings
AIRPORT:ETNT
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.etnt_kml['RunwayArrestorGear'].items() %}
    {{- geom | to_poly(name, 'taxilane-yellow') }}
{% endfor %}

{% for name, geom in data.etnt_kml['RunwayMarkings'].items() %}
    {{- geom | to_poly(name, 'runway-marking') }}
{% endfor %}
